<!-- Outermost container for login page -->
<div class="login-bg">
    <div class="main-wrapper">
        <!-- Login box section -->
        <div class="login-box">
            <div class="text-center">
                <!-- Logo centered and full size -->
                <img src="../../../assets/images/login-logo.png" 
                     alt="access-medical-labs-logo" 
                     class="logo img-fluid" />
                <!-- Access Denied message -->
                <div class="white-bg borderradius5 p-3 mt-4 boxshadow82 formdiv text-center">
                    <h2 class="text-danger mt-3">Access Denied</h2>
                    <p class="font16 text-blue font-weight-normal">NetCentral is not accessible on your IP.<br>Please contact your administrator for more details.</p>
                </div>
            </div>
        </div>
    </div>
</div>
