.border-line{
    border: 1px solid lightgray;
    padding: 10px;
    margin-top: -1px !important;
}
.hide-on-screen {
    position: absolute !important;
    left: -9999px !important;
    top: -9999px !important;
  }
  .callLog:hover{
    text-decoration: underline;
}

.float-right {
  float: right;
}
