<!-- Change Password Form -->
<div class="mt-2 formdiv">
  <form [formGroup]="changePassfrm" appFocus appFocusFirstInput>
      <!-- Form Row -->
      <div class="col-lg-12 col-md-6 gx-3">
          <!-- Current Password Input -->
          <div class="col-lg-4 col-md-6">
              <div class="mb-2 position-relative">
                  <label class="form-label">Current Password<span class="errortext ms-1">*</span></label>
                  <input [type]="visible=='fa fa-eye'?'password':'text'" class="form-control" placeholder="Enter Current Password " formControlName="oldpassword" [ngClass]="{'is-invalid': isSubmitted && f.oldpassword.errors}">
                  <span class="field-icon" (click)="changeicon()">
                    <i [class]="visible"></i>
                 </span>
                  <!-- <img src="../../../assets/images/icons/lock-gray.svg" class="lockicon" /> -->
                  <!-- Validation Errors for Current Password -->
                  <div *ngIf="isSubmitted && f.oldpassword.errors" class="invalid-feedback">
                      <div *ngIf="f.oldpassword.errors.required">Please enter Current Password</div>
                    
                  </div>
              </div>
          </div>
          <!-- New Password Input -->
          <div class="col-lg-4 col-md-6">
              <div class="mb-2 position-relative">
                  <label class="form-label">New Password<span class="errortext ms-1">*</span></label>
                  <input [type]="visible1=='fa fa-eye'?'password':'text'" class="form-control" placeholder="Enter New Password" formControlName="password" [ngClass]="{'is-invalid': isSubmitted && f.password.errors}">
                  <span class="field-icon" (click)="changeicon1()">
                    <i [class]="visible1"></i>
                </span>
                  <!-- <img src="../../../assets/images/icons/lock-gray.svg" class="lockicon" /> -->
                  <!-- Validation Errors for New Password -->
                  <div *ngIf="isSubmitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Please enter New Password</div>
                      <div *ngIf="f.password.errors.pattern">Password should be between 8 to 10 characters with a combination of Numeric, Upper case, Lower case, and Special characters.</div>
                  </div>
              </div>
          </div>
          <!-- Confirm Password Input -->
          <div class="col-lg-4 col-md-6">
              <div class="mb-2 position-relative">
                  <label class="form-label">Confirm Password<span class="errortext ms-1">*</span></label>
                  <input [type]="visible2=='fa fa-eye'?'password':'text'" class="form-control" placeholder="Enter Confirm Password" formControlName="cnfirmPass" [ngClass]="{'is-invalid': isSubmitted && f.cnfirmPass.errors}">
                  <span class="field-icon" (click)="changeicon2()">
                    <i [class]="visible2"></i>
                </span>
                  <!-- <img src="../../../assets/images/icons/lock-gray.svg" class="lockicon" /> -->
                  <!-- Validation Errors for Confirm Password -->
                  <div *ngIf="isSubmitted && f.cnfirmPass.errors" class="invalid-feedback">
                      <div *ngIf="f.cnfirmPass.errors.required">Please enter Confirm Password</div>
                      <div *ngIf="f.cnfirmPass.errors.pattern">Password should be between 8 to 10 characters with a combination of Numeric, Upper case, Lower case, and Special characters.</div>
                      <div *ngIf="f.cnfirmPass.errors.mismatch">Password is Mismatch</div>
                  </div>
              </div>
          </div>
          <!-- Form Row for Buttons -->
          <div class="col-lg-12 col-md-6 row">
              <div class="col-lg-12  mt-2">
                  <!-- Submit and Cancel Buttons -->
                  <button type="submit" class="btn btn-blue m-1" (click)="onSubmit()">Submit</button>
                  <button class="btn btn-blue m-1" (click)="CancelbtnClick()">Cancel</button>
              </div>
          </div>
      </div>
  </form>
</div>
