/* accordian custom css */

.accordion-button:not(.collapsed) {
    color: white;
    background-color: white;
    box-shadow: none;
}

.accordion-item{
    border: none;
}

.customheight {
    height: 46px !important;
}