/* accordian custom css */

.accordion-button:not(.collapsed) {
  color: white;
  background-color: white;
  box-shadow: none;
}

.accordion-item{
  border: none;
}

.customheight {
  height: 46px !important;
}
.comment-list{
  // background-color: lightgray;
  border: 2px solid lightgray;
  border-radius: 10px;
  margin-bottom: 5px;
  max-height: 250px;
  overflow: auto;
  // padding: 3px;
}
.cmt-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
}

.note {
  flex: 1; /* Take up remaining space */
}

.created-date {
  font-size: 0.8rem; /* Adjust size as needed */
  color: #888; /* Adjust color as needed */
}

.fw-bold.order-no-physician {
  display: flex;
  justify-content: space-between;
}

.border-bottom {
  border-bottom: 1px solid #ccc;
  width: 100%;
  margin-top: 5px; /* Adjust margin as needed */
  margin-bottom: 5px; /* Adjust margin as needed */
}


.showname{
  background-color: #F3F5FF;
  border-radius: 25px 25px 25px 25px; 
  padding: 10px;
}

.showaccount{
  background-color: #F3F5FF;
  border-radius: 25px 0 0 25px; 
  padding: 10px;
  text-align: right;
}

.custom-class.doller-align:before {
  top: 8px !important;
  left: 22px;
}

.float-right {
  float: right;
}