<!-- Reset Password Page Structure -->
<div class="login-bg">
    <div class="main-wrapper">
        <!-- Reset Password Header -->
        <div class="login-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Logo Section -->
                        <div class="text-center">
                            <img src="../../../assets/images/login-logo.png" alt="Logo" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Reset Password Box -->
        <div class="login-box my-2">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <!-- Phone Section -->
                        <div class="loginphone">  
                            <div class="row gx-0 align-items-center">
                                <!-- Logo -->
                                <div class="col-md-5">
                                    <div class="text-center logo">
                                        <img src="../../../assets/images/access-medical-labs-logo.svg" alt="access-medical-labs-logo" class="img-fluid" />
                                    </div>
                                </div>
                                <!-- Pattern Image -->
                                <div class="col-md-2">
                                    <div class="text-center">
                                        <img src="../../../assets/images/pattern.svg" alt="pattern" class="img-fluid  m-2" />
                                    </div>
                                </div>
                                <!-- Phone Number Section -->
                                <div class="col-md-5">
                                    <div class="font21 font-w900 text-blue">
                                        <img src="../../../assets/images/phone-icon.svg" alt="phone-icon" class="img-fluid me-2" />
                                        (866) 720-8386
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Form Section -->
                        <div class="white-bg borderradius5 p-3 mt-2 boxshadow82 formdiv">
                            <!-- Reset Password Form -->
                            <form [formGroup]="forgotPassfrm" appFocus appFocusFirstInput>
                                <!-- Title Section -->
                                <div class="text-center open-sans mb-2">
                                    <div class="mb-2"><img src="../../../assets/images/icons/three-user-icon.svg" /></div>
                                    <div class="font26 font-w900 text-blue my-1">Net<span class="font-w400">Central</span> Reset Password</div>
                                    <div class="font15 font-w600">Access Medical Laboratories</div>
                                </div>
                                
                                <!-- Email Input Section -->
                                <div class="mb-2 position-relative">
                                  <label class="form-label">Email Id</label>
                                  <input type="text" class="form-control" placeholder="Enter Email Id" formControlName="username" [ngClass]="{'is-invalid': isSubmitted && f.username.errors}" maxlength="100" TrimWhitespace appInputMaskEmail>
                                  <img src="../../../assets/images/icons/user-gray.svg" class="usericon" />
                                  <div *ngIf="isSubmitted && f.username.errors" class="invalid-feedback">
                                    <div *ngIf="f.username.errors.required">Please enter Email Id</div>
                                    <div *ngIf="f.username.errors.pattern">Invalid Email Id!</div>
                                  </div>
                                </div>
                                
                                <!-- Back to Login Link -->
                                <div class="mb-2">
                                    <div class="row">
                                        <div class="col-6">    
                                        </div>
                                        <div class="col-6">
                                            <div class="text-end font-w700">
                                                <a routerLink="/login" class="link-blue"><u>Back to login</u></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- Submit Button -->
                                <button type="submit" class="btn btn-blue d-block text-capitalize w-100" (click)="onSubmit()">Send Reset Password Link</button> 
                            </form>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
