<div class="container">
    <div class="col-lg-12">
        <div class="modal-header justify-content-end">
            <h5 class="modal-title">View Data Stage</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="onCancel()"></button>
          </div>
        <!-- Search and Add Product Category Section -->
<div class="accordion" id="accordionData">
    <div class="accordion-item"> 
        <div class="font15 font-w600">
            <div class="row">
                <div class="col-10"></div>
                <div class="col-2"><span class="text-end">
                        <span><div class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseStage" aria-expanded="true" aria-controls="collapseStage" title="Click to Filter Data">
                        </div>
                        </span>
                    </span>
            </div>
            </div>
        </div>
        <div id="collapseStage" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionData">
          <form (keydown.enter)="search()">
        <div class="my-2 formdiv">
            <div class="row gx-2">
             <div class="col-lg-3 col-md-6">    
               
                    <div class="mb-2">
                      <label class="form-label">Search</label>
                      <input type="text" name="Customsearch" id="Customsearch" class="form-control customheight" [(ngModel)]="requestPayload.CustomSearch">
                    </div>
              
             </div>
             <div class="col-lg-3 col-md-6">
                 <div class="mb-2">
                   <label class="form-label">Start Date</label>
                   <kendo-datepicker calendarType="classic" [animateCalendarNavigation]="true" [(ngModel)]="Fromdate" placeholder="mm/dd/yyyy" name="FromDate" format="MM/dd/yyyy"></kendo-datepicker>
                 </div>
             </div>
             <div class="col-lg-3 col-md-6">
                 <div class="mb-2">
                   <label class="form-label">End Date</label>
                   <kendo-datepicker calendarType="classic" [animateCalendarNavigation]="true" [(ngModel)]="todate" placeholder="mm/dd/yyyy" name="ToDate" format="MM/dd/yyyy"></kendo-datepicker>
                 </div>
             </div>
             <div class="col-lg-3 col-md-6">
              <div class="mb-2">
                <label class="form-label"></label>
                <div class="text-end">
                <button type="submit" class="btn btn-primary me-2" (click)="search()">Search</button> 
                <button type="reset" class="btn btn-secondary" (click)="OnReset()">Reset</button>                               
              </div>
            </div>
             </div>
         </div> 
          <div class="row">
             <div class="col-sm-12">
             </div>
         </div> 
         </div>
         </form>
        </div>
      
      </div>
      </div>

  
  <!-- Product Category Table Section -->
  <div class="tablediv">
    <div class="table-responsive popup-container">
        <kendo-grid [data]="datastageList" [pageSize]="state.take" [skip]="state.skip" [sortable]="true"
        [sort]="state.sort" filterable="menu" [filter]="state.filter"
        [pageable]="{ buttonCount: 5, pageSizes: [10,20, 50, 100, 500] }" (dataStateChange)="dataStateChange($event)">
        <kendo-grid-column field="Name" title="Name"  [sortable]="true" [headerStyle]="{'text-align': 'left' , 'width' : '15%' }" [style]="{'text-align': 'left' , 'width' : '15%'}">
          <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
            <kendo-grid-string-filter-menu
                [column]="column"
                [filter]="filter"
                [filterService]="filterService"
                operator="contains">
                    <kendo-filter-eq-operator></kendo-filter-eq-operator>
                    <kendo-filter-neq-operator></kendo-filter-neq-operator>
                    <kendo-filter-contains-operator></kendo-filter-contains-operator>
                    <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                    <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
            </kendo-grid-string-filter-menu>
        </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="EMR_Company__c" title="EMR Company"  [sortable]="true" [headerStyle]="{'text-align': 'left' , 'width' : '20%' }" [style]="{'text-align': 'left' , 'width' : '20%'}">
            <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
              <kendo-grid-string-filter-menu
                  [column]="column"
                  [filter]="filter"
                  [filterService]="filterService"
                  operator="contains">
                      <kendo-filter-eq-operator></kendo-filter-eq-operator>
                      <kendo-filter-neq-operator></kendo-filter-neq-operator>
                      <kendo-filter-contains-operator></kendo-filter-contains-operator>
                      <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                      <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
              </kendo-grid-string-filter-menu>
          </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="Client_name__c" title="Client Name"  [sortable]="true" [headerStyle]="{'text-align': 'left' , 'width' : '20%' }" [style]="{'text-align': 'left' , 'width' : '20%'}">
            <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
              <kendo-grid-string-filter-menu
                  [column]="column"
                  [filter]="filter"
                  [filterService]="filterService"
                  operator="contains">
                      <kendo-filter-eq-operator></kendo-filter-eq-operator>
                      <kendo-filter-neq-operator></kendo-filter-neq-operator>
                      <kendo-filter-contains-operator></kendo-filter-contains-operator>
                      <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                      <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
              </kendo-grid-string-filter-menu>
          </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="Client_Number__c" title="Client Number"  [sortable]="true" [headerStyle]="{'text-align': 'left' , 'width' : '15%' }" filter="numeric" [style]="{'text-align': 'left' , 'width' : '15%'}">
            <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
                <kendo-grid-numeric-filter-menu
                [column]="column"
                [filter]="filter"
                [filterService]="filterService"
                operator="eq">
                    <kendo-filter-eq-operator></kendo-filter-eq-operator>
                    <kendo-filter-neq-operator></kendo-filter-neq-operator>
                    <kendo-filter-gt-operator></kendo-filter-gt-operator>
                    <kendo-filter-gte-operator></kendo-filter-gte-operator>
                    <kendo-filter-lt-operator></kendo-filter-lt-operator>
                    <kendo-filter-lte-operator></kendo-filter-lte-operator>
            </kendo-grid-numeric-filter-menu>
          </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="Total__c" title="Total Sample"  [sortable]="true" filter="numeric" [headerStyle]="{'text-align': 'left' , 'width' : '10%' }" [style]="{'text-align': 'left' , 'width' : '10%'}">
            <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
                <kendo-grid-numeric-filter-menu
                [column]="column"
                [filter]="filter"
                [filterService]="filterService"
                operator="eq">
                    <kendo-filter-eq-operator></kendo-filter-eq-operator>
                    <kendo-filter-neq-operator></kendo-filter-neq-operator>
                    <kendo-filter-gt-operator></kendo-filter-gt-operator>
                    <kendo-filter-gte-operator></kendo-filter-gte-operator>
                    <kendo-filter-lt-operator></kendo-filter-lt-operator>
                    <kendo-filter-lte-operator></kendo-filter-lte-operator>
            </kendo-grid-numeric-filter-menu>
          </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="Total_Value__c" title="Total Value"  [sortable]="true" filter="numeric" [headerStyle]="{'text-align': 'left' , 'width' : '10%' }" [style]="{'text-align': 'left' , 'width' : '10%'}">
            <ng-template kendoGridCellTemplate let-dataItem>
                <span *ngIf="dataItem.Total_Value__c !== null">$ {{dataItem.Total_Value__c}}</span>
              </ng-template>
            <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
                <kendo-grid-numeric-filter-menu
                [column]="column"
                [filter]="filter"
                [filterService]="filterService"
                operator="eq">
                    <kendo-filter-eq-operator></kendo-filter-eq-operator>
                    <kendo-filter-neq-operator></kendo-filter-neq-operator>
                    <kendo-filter-gt-operator></kendo-filter-gt-operator>
                    <kendo-filter-gte-operator></kendo-filter-gte-operator>
                    <kendo-filter-lt-operator></kendo-filter-lt-operator>
                    <kendo-filter-lte-operator></kendo-filter-lte-operator>
            </kendo-grid-numeric-filter-menu>
          </ng-template>
          </kendo-grid-column>
        <kendo-grid-column field="Date__c" title="Date"  [sortable]="true" filter="date" [headerStyle]="{'text-align': 'left' , 'width' : '10%' }" [style]="{'text-align': 'left' , 'width' : '10%'}">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span>{{dataItem.Date__c | date:'MM/dd/yyyy'}}</span>
          </ng-template>
          <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
            <kendo-grid-date-filter-menu
                        [column]="column"
                        [filter]="filter"
                        [filterService]="filterService"
                        operator="eq">
                            <kendo-filter-eq-operator></kendo-filter-eq-operator>
                            <kendo-filter-neq-operator></kendo-filter-neq-operator>
                            <kendo-filter-gt-operator></kendo-filter-gt-operator>
                            <kendo-filter-gte-operator></kendo-filter-gte-operator>
                            <kendo-filter-lt-operator></kendo-filter-lt-operator>
                            <kendo-filter-lte-operator></kendo-filter-lte-operator>
                    </kendo-grid-date-filter-menu>
        </ng-template>
        </kendo-grid-column>
      </kendo-grid>
    </div>
  </div>
    </div>
</div>
  