<!-- <div class="mb-2">
    <div class="font17 open-sans text-blue font-w700 my-2">Order Requisition Form</div>
 </div> -->
<div class="tablediv" *ngIf="!uniqueid && uniqueid == ''">
        <form [formGroup]="orderfrm" appFocus  appFocusFirstInput>
          <div class="col-lg-12">
              <div class="row">
                <div class="font17 open-sans text-blue font-w700 my-2 text-center">Order Requisition Form</div>
                <div class="border-bottom my-1"></div>
                <div class="text-end custom-font">
                  Order Date: &nbsp;{{orderresp?.Orderdate | date: 'MMMM d, y' }}
                </div>
              </div>
              <div class="row">
                <div class="col-6 col-sm-4 col-md-4 col-lg-3 mb-2 custom-font">
                    Physician Account #<span class="errortext ms-1">*</span><span class="float-end">:</span>
                  </div>
                  <div class="col-6 col-sm-8 col-md-8 col-lg-3 mb-2">
                    <kendo-autocomplete
                    #autocomplete 
                    [data]="physicianlist"
                    formControlName="ClientId"
                    textField="ClientId"
                    valueField="Account"
                    [filterable]="true"
                    [(ngModel)]="selectedAccount"
                    (valueChange)="accountchange()"
                    [ngClass]="{'is-invalid': isSubmitted && f.ClientId.errors}"
                    >
                  </kendo-autocomplete>
                  <div *ngIf="isSubmitted && f.ClientId.errors" class="invalid-feedback">
                    <div *ngIf="f.ClientId.errors.required">Please select Physicain Account </div>
                 </div>
                </div>   
              </div>
              
              <div class="row">
                <div class="col-6 col-sm-4 col-md-4 col-lg-3 mb-2 custom-font">
                  Account Name<span class="float-end">:</span>
                </div>
                <div class="col-6 col-sm-8 col-md-8 col-lg-3 mb-2 custom-font">{{selectedClient?.AccountName}}</div>   
              </div>
              <div class="row">
                <div class="col-6 col-sm-4 col-md-4 col-lg-3 mb-2 custom-font">
                  Account Type<span class="float-end">:</span>
                </div>
                <div class="col-6 col-sm-8 col-md-8 col-lg-3 mb-2 custom-font">{{selectedClient?.AccountTypeName}}</div>   
              </div>
              <div class="row">
                <div class="col-6 col-sm-4 col-md-4 col-lg-3 mb-2 custom-font">
                  Physician Name<span class="float-end">:</span>
                </div>
                <div class="col-6 col-sm-8 col-md-8 col-lg-3 mb-2 custom-font">{{selectedClient?.PhysicianName}}</div>   
              </div>
              <div class="row">
                <div class="col-lg-12 mb-2">
                <label class="font14 font-w700">Shipping Address: &nbsp;</label>
                <div class="address-list">
                  <div class="row address-group">
                    <div class="col-lg-4 mb-2">
                      <label class="form-label custom-font">Address Line 1<span class="errortext ms-1">*</span>:</label>
                      <input type="text" id="address1" name="address1" [(ngModel)]="selectedClient.Address1" maxlength="50" class="form-control" TrimWhitespace formControlName="address1" [ngClass]="{'is-invalid': isSubmitted && f.address1.errors}">
                      <div *ngIf="isSubmitted && f.address1.errors" class="invalid-feedback">
                        <div *ngIf="f.address1.errors.required">Please enter Address Line 1</div>
                       </div>
                    </div>
                    <div class="col-lg-4 mb-2">
                      <label class="form-label custom-font">Address Line 2: &nbsp;</label>
                      <input type="text" name="address2" id="address2" [(ngModel)]="selectedClient.Address2" maxlength="50" class="form-control" TrimWhitespace [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="col-lg-4 mb-2">
                      <label class="form-label custom-font">State<span class="errortext ms-1">*</span>:</label>
                      <select id="state_id" name="state_name" class="form-control form-select" [(ngModel)]="selectedClient.StateId" formControlName="State" [ngClass]="{'is-invalid': isSubmitted && f.State.errors}">
                        <option value="">- Select State -</option>
                        <option *ngFor="let state of StateList" [value]="state.Key">{{state.Value}}</option>
                    </select>
                    <div *ngIf="isSubmitted && f.State.errors" class="invalid-feedback">
                      <div *ngIf="f.State.errors.required">Please select State</div>
                   </div> 
                    </div>
                    
                    <div class="col-lg-4 mb-2">
                      <label class="form-label custom-font">City<span class="errortext ms-1">*</span>:</label>
                      <input type="text" name="city" id="city" [(ngModel)]="selectedClient.City" maxlength="50" class="form-control custom-width" TrimWhitespace formControlName="City" [ngClass]="{'is-invalid': isSubmitted && f.City.errors}">
                            <div *ngIf="isSubmitted && f.City.errors" class="invalid-feedback">
                              <div *ngIf="f.City.errors.required">Please enter City</div>
                           </div>
                    </div>
    
                    <div class="col-lg-4 mb-2">
                      <label class="form-label custom-font">Zip<span class="errortext ms-1">*</span>:</label>
                      <input type="text" name="zip" [(ngModel)]="selectedClient.Zip" id="zip" class="form-control" TrimWhitespace maxlength="10" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || event.charCode === 45" formControlName="Zip" [ngClass]="{'is-invalid': isSubmitted && f.Zip.errors}">
                            <div *ngIf="isSubmitted && f.Zip.errors" class="invalid-feedback">
                              <div *ngIf="f.Zip.errors.required">Please enter Zip</div>
                           </div> 
                    </div>
                  </div>
                </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-2 mb-2 custom-font">
                  Sales Representative: &nbsp;
                </div>
                <div class="col-lg-3 mb-2">
                  <select name="User" id="User" style="min-width: 189px;" class="form-select customheight" [(ngModel)]="selectedUserid" [ngModelOptions]="{standalone: true}">
                    <option value="">- Select -</option>
                    <option *ngFor="let user of UserList" [value]="user.Key">{{user.Value}}</option>
                  </select>
                  </div>
              </div>
              <div class="row" *ngIf="selectedClient?.ClientId && pastorder">
                <div class="col-lg-12 custom-font">
                  View Past Order: &nbsp; <a class="link-blue" style="cursor: pointer;" data-bs-target="#pastOrder"  data-bs-toggle="modal"  (click)="pastOrderDetail()">Click here</a>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 mb-2">
                  <div class="address-list table-responsive">
                    <div class="address-group">
                      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table align-middle table-bordered formdiv">
                        <ng-container *ngFor="let productdata of orderresp?.ProductDetails; let i = index">
                           <ng-container *ngFor="let products of productdata?.Products; let j = index">
                               <tr>
                                   <td *ngIf="j === 0" width="15%">{{productdata?.ProductCategoryName}}</td>
                                   <td *ngIf="j !== 0" width="10%">&nbsp;</td>
                                   <td width="15%">
                                    <span>{{products?.Name}}
                                      <img src="../../../../../assets/images/question-mark.svg" alt="?"
                                      data-bs-toggle="modal" data-bs-target="#ViewProductDetails" style="cursor: pointer;margin-bottom: 3px;width:15px;"
                                      (click)="setProductDetails(products.Name , products.Details)"
                                      *ngIf="products.Details">
                                    </span>
                                   </td>
                                   <td width="25%">{{products?.Description}}</td>
                                   <td align="right" width="10%">$ {{products?.Price}}</td>
                                   <td align="right" width="15%">&nbsp;</td>
                              <td align="right" class="pt-1 pb-1 product-price1" width="20%"><span>Quantity</span><input type="hidden" [name]="products?.Id" value="69" class="form-control" >
                                <input type="text" [name]="products?.Name" [(ngModel)]="products.Quantity" [value]="products?.Quantity" id="prod1" size="2" maxlength="3" class="form-control" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" TrimWhitespace (blur)="changeTotal()" [ngModelOptions]="{standalone: true}">
                              </td>
                               </tr>
                           </ng-container>
                       </ng-container>
                       <tr>
                         <td colspan="5"></td>
                         <td align="right" *ngIf="orderresp" class="product-price pt-1 pb-1" colspan="3"><label>Product Amount : $</label><input type="text" [name]="orderresp?.OrderNo" [(ngModel)]="ProductTotal" id="prod1" size="2" maxlength="5" class="form-control dollar-input" appAmountFormat TrimWhitespace readonly [ngModelOptions]="{standalone: true}"></td>
                       </tr>
                        <tr>
                          <td>SHIPPING METHOD:&nbsp;</td>
                          <td colspan="6" style="white-space: normal;"> 
                            <div>
                               <ng-container *ngFor="let shipping of orderresp?.ShippingMethods">
                                   <div class="form-check form-check-inline">
                                     <input class="form-check-input" type="radio" name="inlineRadioOptions" [id]="shipping?.Name" [(ngModel)]="selectedRadio" [value]="shipping.Type" (change)="changeTotal()" [ngModelOptions]="{standalone: true}">
                                     <label class="form-check-label mt-1" [for]="shipping?.Name">{{shipping?.Name}} ($ {{shipping?.Amount| number: '1.2-2'}})</label>
                                   </div>
                               </ng-container>
                            </div>
                            
                         </td>
                          <td></td>
                        </tr>
                        <tr>
                         <td colspan="4"></td>
                         <td align="right" *ngIf="orderresp" class="product-price pt-1 pb-1" colspan="3"><label>Total Amount : $ </label> <input type="text" [name]="orderresp?.OrderNo" [(ngModel)]="TotalAMount" id="prod1" size="2" maxlength="5" class="form-control dollar-input" appAmountFormat TrimWhitespace readonly [ngModelOptions]="{standalone: true}">
                           <div class="text-gray font15">Total Amount = Product Amount + Shipping Cost</div>
                         </td>
                        </tr>
                      <input type="hidden" name="order_type" value="0">
                      <tr>
                        <td>MESSAGE: &nbsp;</td>
                        <td colspan="6" class="pt-2 pb-2"><textarea name="message" id="specialmeesage" [(ngModel)]="Message" class="form-control" style="width: 100%;" rows="4" TrimWhitespace [ngModelOptions]="{standalone: true}" (input)="adjustTextareaHeight($event)"></textarea>
                        </td>
                        <td></td>
                      </tr>
                    </table>
                    <div class="col-lg-12 justify-content-end">
                      <div class="text-end">
                        <button type="submit" class="btn btn-blue m-1" (click)="onSubmit()">Place Order</button>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
       </form>
</div>

<div class="tablediv" *ngIf="uniqueid && uniqueid != ''">
  <div class="col-lg-12">
    <div class="row">
      <div class="font17 open-sans text-blue font-w700 my-2 text-center">Order Requisition Form</div>
      <div class="border-bottom my-1"></div>
    </div>
    <div class="row">
      <div class="col-lg-6 custom-font">Order#: &nbsp; {{orderresp?.OrderNo}}</div>
      <div class="col-lg-6 text-end custom-font">
        Order Date: &nbsp;{{orderresp?.OrderDate | date: 'MMMM d, y' }}
      </div>
    </div>
    <div class="row">
        <div class="mb-2 custom-font">
          Physician Name: &nbsp; {{orderresp?.Physician}}
        </div>  
    </div>
    <div class="row">
      <div class="col-lg-12 mb-2">
      <label class="font14 font-w700">Shipping Address :</label>
      <div class="address-list">
        <div class="row address-group">
          <div class="col-lg-3 mb-2">
            <label class="form-label custom-font">Address Line 1:&nbsp; &nbsp; {{orderresp?.Addressline1}}</label>
          </div>
          <div class="col-lg-3 mb-2" *ngIf="orderresp?.Addressline2 !== null">
            <label class="form-label custom-font">Address Line 2: &nbsp; &nbsp; {{orderresp?.Addressline2}}</label>
          </div>
          <div class="col-lg-3 mb-2">
            <label class="form-label custom-font">State:&nbsp;&nbsp; {{orderresp?.StateName}}</label>
          </div> 
          <div class="col-lg-3 mb-2">
            <label class="form-label custom-font">City:&nbsp;&nbsp; {{orderresp?.City}}</label>
          </div>
          <div class="col-lg-3 mb-2">
            <label class="form-label custom-font">Zip:&nbsp;&nbsp; {{orderresp?.Zip}}</label>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="row">
      <div class="mb-2 custom-font">
        Sales Representative:&nbsp; &nbsp;{{orderresp?.SalesRepresentative}}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 mb-2">
        <div class="address-list table-responsive">
          <div class="address-group">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table align-middle table-bordered formdiv">
              <tr>
               <td colspan="4"></td>
               <td align="left" class="mr-1" style="padding-left: 5px;"><b>Cost Per Item</b></td>
               <td align="center" class="mr-1"><b>Quantity</b></td>
               <td align="center"><b>Approved Quantity</b></td>
              </tr>
              <ng-container *ngFor="let productdata of orderresp?.Products; let i = index">
                 <ng-container *ngFor="let products of productdata?.Products; let j = index">
                     <tr>
                         <td *ngIf="j === 0" width="15%">{{productdata?.CategoryName}}</td>
                         <td *ngIf="j !== 0" width="15%">&nbsp;</td>
                         <td width="30%" colspan="2">
                          <span>{{products?.Name}}
                          <img src="../../../../../assets/images/question-mark.svg" alt="?"
                          data-bs-toggle="modal" data-bs-target="#ViewProductDetails" style="cursor: pointer;margin-bottom: 3px;width:15px;"
                          (click)="setProductDetails(products.Name , products.Details)"
                          *ngIf="products.Details">
                        </span>
                        </td>
                         <td width="15%">{{products?.Description}}</td>
                         <td align="left" class="pt-1 pb-1 product-price" width="20%">
                           <span>$</span>
                           <input type="text" [name]="products?.Name" [(ngModel)]="products.Price" id="prod1" size="2" maxlength="5" class="form-control" (blur)="changeTotal()" appAmountFormat>
                         </td>                  
                         <!-- <td>$ {{products?.Price}}</td> -->
                         <td align="center" class="pt-1 pb-1" width="20%"><input type="text" [name]="products?.Name" [(ngModel)]="products.Quantity" [value]="products?.Quantity" id="prod1" size="2" maxlength="3" class="form-control" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" TrimWhitespace readonly></td>
                    <td align="center" class="pt-1 pb-1" width="20%"><input type="hidden" [name]="products?.Id" value="69" class="form-control">
                      <input type="text" [name]="products?.Name" [(ngModel)]="products.ApprovedQuantity" [value]="products?.ApprovedQuantity" id="prod1" size="2" maxlength="3" class="form-control" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" TrimWhitespace (blur)="changeTotal()">
                    </td>
                     </tr>
                 </ng-container>
             </ng-container>
             <tr>
               <td colspan="4" width="50%"  align="right">Product Amount:</td>
               <td align="left" *ngIf="orderresp" class="product-price1 pt-1 pb-1" width="50%" colspan="3"><span>$</span><input type="text" [name]="orderresp?.OrderNo" [(ngModel)]="orderresp.ProductAmount" id="prod1" size="2" maxlength="5" class="form-control" readonly appAmountFormat></td>
             </tr>
              <tr>
                <td>SHIPPING METHOD: &nbsp;</td>
                <td colspan="7" style="white-space: normal;"> 
                  <div>
                     <ng-container *ngFor="let shipping of orderresp?.ShippingMethods">
                         <div class="form-check form-check-inline">
                             <input class="form-check-input" type="radio" name="inlineRadioOptions" [id]="shipping?.Name" [(ngModel)]="selectedRadio" [value]="shipping.Type" (change)="changeTotal()">
                             <label class="form-check-label mt-1" [for]="shipping?.Name">{{shipping?.Name}} ($ {{shipping?.Amount| number: '1.2-2'}})</label>
                         </div>
                     </ng-container>
                  </div>
               </td>
                <td></td>
              </tr>
              <tr>
               <td colspan="4"></td>
               <td align="right" *ngIf="orderresp" class="product-price pt-1 pb-1" colspan="3"><label>Total Amount : $ </label> <input type="text" [name]="orderresp?.OrderNo" [(ngModel)]="orderresp.Total" id="prod1" size="2" maxlength="5" class="form-control" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" TrimWhitespace readonly>
                <div class="text-gray font15">Total Amount = Product Amount + Shipping Cost</div>
               </td>
              </tr>
            <input type="hidden" name="order_type" value="0">
            <tr>
              <td style="width: 250px;text-wrap: wrap;">
               <div class="col-md-12">
                 <div>MESSAGE: &nbsp;</div>
                 <p class="text-gray font14">Date: &nbsp; {{orderresp?.OrderDate | date :'MM/dd/yyyy' }} and Posted By {{orderresp?.PostedBy}}</p>
               </div>
             </td>
             <td colspan="6" class="pt-2 pb-2">
              <textarea name="message" id="specialmeesage" [(ngModel)]="Message" class="form-control" rows="4" style="width: 100%;" (input)="adjustTextareaHeight($event)"></textarea>
            </td>            
              <td></td>
            </tr>
        </table>
            <div class="col-lg-12">
              <div class="text-end">
                <button type="submit" class="btn btn-blue m-1" (click)="onUpdate()">Update Order</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>



<!-- Past Order modal -->
<div class="modal order fade"  id="pastOrder" tabindex="-1" aria-hidden="true">
  <div class="table-responsive modal-lg" >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header justify-content-end">
          <h5 class="modal-title text-blue">Orders History</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="historyModalClose()"></button>
        </div>
        <div class="modal-body only-title">
         
    <div class="container" >
      <div class="col-md-12">
          <div class="row">
            
            <div class="col-md-6">
              <h5 class="mt-4 mb-3">{{pastOrder?.CompanyName}}</h5>
              <div style="max-width: 200px; line-height:25px">{{pastOrder?.SourceAddress}}</div>
              <div style="max-width: 200px; line-height:25px">{{pastOrder?.CompanyPhoneNumber}}</div>
            </div>
            <div class="col-md-6 text-end">
              <h5 class="mt-4 mb-3">ORDER SUPPLY FORM</h5>
              <div class="ship-to text-end">
                <a  class="btn btn-blue" (click)="print()">Print</a>
              </div>
             
            </div>
          </div>
        </div>  
      
      <div class="tablediv">          
        <div class="row mt-3">
        <div class="col-md-6">
        <div class="table-responsive table-bordered">
            <table width="100%" style="min-height: 115px;" cellspacing="0" cellpadding="0" class="table align-middle table-bordered">
          <tr>
            <th align="center" valign="top">Ship To</th>  
          </tr>
          <tr>
           <td class="product-shipto">
           
             <div class="ship-to ">{{pastOrder?.Physician}} <br />
                       {{pastOrder?.PracticeName }} &nbsp;- &nbsp;{{pastOrder?.AccountNumber}}<br/>  
                       {{pastOrder?.ShipTo}}</div>
          </tr>  
            </table>
        </div>
        </div>
        <div class="col-md-6">
            <div class="table-responsive table-bordered">
       <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table align-middle table-bordered">
        <tr>
          <th>Ordered Date</th>
           <th>Order No</th>
          </tr>  
          <tr>
          <td [style]="{'text-align':'center','padding':'3px'}" >{{ pastOrder?.OrderDate | date :'MM/dd/yyyy' }}</td>
          <td [style]="{'text-align':'center'}">{{ pastOrder?.Orderno}}</td>
          </tr>
      </table>
            </div>
            <div class="table-responsive table-bordered">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table align-middle table-bordered">
       
                <tr>
                <th>Order Placed By</th>
          
                </tr>  
                <tr>
                <td [style]="{'text-align':'center','padding':'3px'}" >{{ pastOrder?.OrderPlacedBy }}</td>
           
                </tr>
            </table>
            </div>
        </div>
        </div>
        </div>

        <div class="tablediv table-responsive table-bordered mt-3">
           <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table align-middle table-bordered">
              
               <tr>
                 <th align="center" valign="top">S/No.</th>
                 <th align="center" valign="top">Product Name</th>
                
                 <th align="center" valign="top">Quantity</th>
                 <th align="center" valign="top">Price</th>
               
               </tr>
              
               <tr *ngFor="let product of pastOrder?.Products">
                 <td align="center" valign="top">{{ product?.Sno }}</td>
                 <td align="center" valign="top">{{ product?.ProductName }}</td>
              
                 <td align="center" valign="top">{{ product?.Quantity }}</td>
                 <td align="center" valign="top">$ {{ product?.Price }}</td>
                
               </tr>
              
               <tr>
                <td colspan="2"></td>
                <th align="right">Product Amount</th>
                <th align="center" valign="top">
                  $ {{pastOrder?.ProductAmount| number: '1.2-2'}}
                </th>
                
              </tr>
              <tr>
                <td colspan="1" align="top"></td>
                <th align="right">Shipping Method</th>
                <th align="center" valign="top">{{pastOrder?.ShippingMethod}}</th>
                <th align="center" valign="top">$ {{pastOrder?.ShippingAmout| number: '1.2-2'}}	</th>
                
              </tr>
              <tr>
                <td colspan="2" align="center" valign="top"></td>
                <th align="center" valign="top">Total Amount</th>
                <th align="center" valign="top">$ {{pastOrder?.Total| number: '1.2-2'}}	</th>
              
              </tr>
              <tr>
           </table>
        </div>
    </div>
    <div class="container hide-on-screen fixed-width-container" id="contentToExport" >
      <div class="col-md-12">
          <div class="row">
            
            <div class="col-md-6">
              <h5 class="mt-4 mb-3">{{pastOrder?.CompanyName}}</h5>
              <div style="max-width: 200px; line-height:25px">{{pastOrder?.SourceAddress}}</div>
              <div style="max-width: 200px; line-height:25px">{{pastOrder?.CompanyPhoneNumber}}</div>
            </div>
            <div class="col-md-6 text-end">
              <h5 class="mt-4 mb-3">ORDER SUPPLY FORM</h5>
              <!-- <div class="ship-to text-end">
                <a  class="btn btn-blue" (click)="print()">Print</a>
              </div> -->
             
            </div>
          </div>
        </div>  
      
      <div class="tablediv">          
        <div class="row mt-3">
        <div class="col-md-6  col-sm-6 col-lg-6 col-6">
        <div class="table-responsive   table-bordered">
            <table width="100%" style="min-height: 115px;" cellspacing="0" cellpadding="0" class="align-middle table table-bordered">
          <tr>
            <th align="center" valign="top">Ship To</th>  
          </tr>
          <tr>
           <td class="product-shipto">
           
             <div class="ship-to ">{{pastOrder?.Physician}} <br />
                       {{pastOrder?.PracticeName }} &nbsp;- &nbsp;{{pastOrder?.AccountNumber}}<br/>  
                       {{pastOrder?.ShipTo}}</div>
          </tr>  
            </table>
        </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-6">
            <div class="table-responsive table-bordered">
       <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table align-middle table-bordered">
        <tr>
          <th>Ordered Date</th>
           <th>Order No</th>
          </tr>  
          <tr>
          <td [style]="{'text-align':'center','padding':'3px'}" >{{ pastOrder?.OrderDate | date :'MM/dd/yyyy' }}</td>
          <td [style]="{'text-align':'center'}">{{ pastOrder?.Orderno}}</td>
          </tr>
      </table>
            </div>
            <div class="table-responsive table-bordered">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table align-middle table-bordered">
       
                <tr>
                <th>Order Placed By</th>
          
                </tr>  
                <tr>
                <td [style]="{'text-align':'center','padding':'3px'}" >{{ pastOrder?.OrderPlacedBy }}</td>
           
                </tr>
            </table>
            </div>
        </div>
        </div>
        </div>

        <div class="tablediv table-responsive table-bordered mt-3">
           <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table align-middle table-bordered">
              
               <tr>
                 <th align="center" valign="top">S/No.</th>
                 <th align="center" valign="top">Product Name</th>
                
                 <th align="center" valign="top">Quantity</th>
                 <th align="center" valign="top">Price</th>
               
               </tr>
              
               <tr *ngFor="let product of pastOrder?.Products">
                 <td align="center" valign="top">{{ product?.Sno }}</td>
                 <td align="center" valign="top">{{ product?.ProductName }}</td>
              
                 <td align="center" valign="top">{{ product?.Quantity }}</td>
                 <td align="center" valign="top">$ {{ product?.Price }}</td>
                
               </tr>
              
               <tr>
                <td colspan="2"></td>
                <th align="right">Product Amount</th>
                <th align="center" valign="top">
                  $ {{pastOrder?.ProductAmount| number: '1.2-2'}}
                </th>
                
              </tr>
              <tr>
                <td colspan="1" align="top"></td>
                <th align="right">Shipping Method</th>
                <th align="center" valign="top">{{pastOrder?.ShippingMethod}}</th>
                <th align="center" valign="top">$ {{pastOrder?.ShippingAmout| number: '1.2-2'}}	</th>
                
              </tr>
              <tr>
                <td colspan="2" align="center" valign="top"></td>
                <th align="center" valign="top">Total Amount</th>
                <th align="center" valign="top">$ {{pastOrder?.Total| number: '1.2-2'}}	</th>
              
              </tr>
              <tr>
           </table>
        </div>
    </div>

        </div>
       
      </div>
      <!-- <div *ngIf="!pastOrder || pastOrder.length === 0">
        <p>No previous history available.</p>
      </div>  -->
    </div>
  </div>
</div>


<!-- View Product Details Modal -->
<div class="ourpopup" id="productDetails" tabindex="-1" aria-hidden="true">
  <div class="modal fade" id="ViewProductDetails">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="container py-3">
          <div class="modal-header">
            <h5 class="modal-title fw-bold">Product Details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p><strong>Name:</strong> {{ productName }}</p>
            <div>
              <strong>Details:</strong>
              <div [innerHTML]="productDetails"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
