<div class="accordion" id="accordionExample">
    <div class="accordion-item">
    <div class="font15 font-w600 text-blue addedproicon">
        <div class="row">
            <div class="col-10">
                <span *ngIf="permission.MenuPermission.Add == true"><a routerLink="/lab/memberphysician/add-member" class="link-blue"><img src="../../../../assets/images/icons/add-icon-white.svg" class="me-2" />Add Member Physician</a></span>
            </div>
            <div class="col-2"><span class="text-end">
                    <span><div class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" title="Click to Filter Data">
                    </div>
                    </span>
                </span>
        </div>
        </div>
    </div>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <form (keydown.enter)="search()">    
        <div class="my-2 formdiv">
                <div class="row gx-2">
                 <div class="col-lg-3 col-md-6">
                     <div class="mb-2">
                       <label class="form-label">Search</label>                              
                       <input type="text" class="form-control customheight" placeholder="Search here...." [ngModelOptions]="{standalone: true}"  [(ngModel)]="requestpayload.CustomSearch">
                     </div>
                 </div>
                 <div class="col-lg-3 col-md-6">
                     <div class="mb-2">
                       <label class="form-label">Date From</label>
                       <kendo-datepicker calendarType="classic" [animateCalendarNavigation]="true" [ngModelOptions]="{standalone: true}"  [(ngModel)]="FromDate" placeholder="mm/dd/yyyy" name="FromDate"></kendo-datepicker>
                     </div>
                 </div>
                 <div class="col-lg-3 col-md-6">
                     <div class="mb-2">
                       <label class="form-label">Date To</label>
                       <kendo-datepicker calendarType="classic" [animateCalendarNavigation]="true" [ngModelOptions]="{standalone: true}"  [(ngModel)]="ToDate" placeholder="mm/dd/yyyy" name="ToDate" format="MM/dd/yyyy"></kendo-datepicker>
                     </div>
                 </div>
                 <div class="col-lg-3 col-md-6">
                  <div class="mb-2">
                    <label class="form-label"></label>
                    <div class="text-end">
                    <button class="btn btn-primary me-2" type="submit" (click)="search()">Search</button> 
                    <button class="btn btn-secondary" type="reset" (click)="OnReset()">Reset</button>                               
                  </div>
                </div>
                 </div>
             </div>
          </div>
     </form>
    </div>

  </div>
  <div class="font15 font-w600 text-blue mt-2 mb-3">
    <div class="row align-items-center">
      <div class="col-md-4 order-md-1">
        <div class="font17 open-sans text-blue font-w700 mb-2">Member Physicians List</div>
      </div>
      <div class="col-md-8 order-md-2 text-end d-flex justify-content-end align-items-center">
        <button class="btn btn-blue me-2" style="cursor: pointer;" (click)="deleteModel()" *ngIf="deleteids.length">Delete</button>
        <table class="table mb-0" border="1" style="width: auto; margin-right: 15px;">
          <tr class="tr-narrow">
            <td class="text-center"><span class="font-w600 text-blue">Active</span></td>
            <td>
              <img src="../../../assets/images/on.svg" height="40px">
            </td>
            <td class="text-center"><span class="font-w600 text-blue">Inactive</span></td>
            <td>
              <img src="../../../assets/images/off.svg" height="40px">
            </td>
          </tr>
        </table>
        <a class="link-blue addedproicon" (click)="exportExcel()" style="cursor: pointer;">
          <img src="../../../../assets/images/icons/excel-icon.svg" class="me-2" />Export
        </a>
      </div>
    </div>
  </div>
    

  <div class="tablediv mt-2" *ngIf="permission.MenuPermission.View == true">
    <div class="table-responsive">
        <kendo-grid
      [data]="Memberslist"
      [pageSize]="state.take"
      [skip]="state.skip"
      [sortable]="true"
      [sort]="state.sort"
      filterable="menu"
      [filter]="state.filter"
      [pageable]="{buttonCount:5,pageSizes:[10,20,50,100,500]}"
      (dataStateChange)="dataStateChange($event)"
    >
    <kendo-grid-checkbox-column  [headerStyle]="{'vertical-align':'middle','text-align' : 'center','width' : '3%'}" [style]="{ 'text-align': 'center', 'vertical-align':'middle' ,'width' : '3%'}" *ngIf="permission.MenuPermission.Delete == true">
      <ng-template kendoGridHeaderTemplate>
        <input kendogridselectallcheckbox class="k-checkbox k-checkbox-md k-rounded-md" type="checkbox"
          [style]="{'vertical-align':'middle'}" (change)="onSelectAllChange($event)" [checked]="isAllSelected()" />
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem>
        <input kendogridselectallcheckbox class="k-checkbox k-checkbox-md k-rounded-md" *ngIf="!dataItem.IsAdmin"
        [style]="{'vertical-align':'middle'}" type="checkbox" [(ngModel)]="dataItem.isSelected"
        (change)="onCheckboxChange(dataItem)" />
      </ng-template>
    </kendo-grid-checkbox-column>
    <kendo-grid-column field="PhysicianName" title="Primary Physician" [headerStyle]="{'text-align': 'left','width' : '7%'}" [style]="{'text-align': 'left','width' : '7%'}">
      <ng-template kendoGridCellTemplate let-dataItem>
      <div kendoTooltip  [title]="dataItem.PhysicianName">
        {{ dataItem.PhysicianName?.length > 100 ? (dataItem.PhysicianName | slice:0:100) + '...' : dataItem.PhysicianName }}
      </div>
      </ng-template>
      <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
        <kendo-grid-string-filter-menu
            [column]="column"
            [filter]="filter"
            [filterService]="filterService"
            operator="contains">
                <kendo-filter-eq-operator></kendo-filter-eq-operator>
                <kendo-filter-neq-operator></kendo-filter-neq-operator>
                <kendo-filter-contains-operator></kendo-filter-contains-operator>
                <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
        </kendo-grid-string-filter-menu>
    </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="AccountNumber" title="Account#"  filter="numeric" [headerStyle]="{'text-align': 'right','width' : '8%'}" [style]="{'text-align': 'right','width' : '8%'}">
      <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
        <kendo-grid-numeric-filter-menu
              [column]="column"
              [filter]="filter"
              [filterService]="filterService"
              format="n0"
              operator="eq">
                  <kendo-filter-eq-operator></kendo-filter-eq-operator>
                  <kendo-filter-neq-operator></kendo-filter-neq-operator>
                  <kendo-filter-gt-operator></kendo-filter-gt-operator>
                  <kendo-filter-gte-operator></kendo-filter-gte-operator>
                  <kendo-filter-lt-operator></kendo-filter-lt-operator>
                  <kendo-filter-lte-operator></kendo-filter-lte-operator>
          </kendo-grid-numeric-filter-menu>
    </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="AccountType" title="Account Type" [headerStyle]="{'text-align': 'left','width' : '7%'}" [style]="{'text-align': 'left','width' : '7%'}" filter="text">
      <ng-template kendoGridCellTemplate let-dataItem>
        <span>{{dataItem.AccountTypeText}}</span>
      </ng-template> 
      <ng-template
          kendoGridFilterMenuTemplate
          let-column="column"
          let-filter="filter"
          let-filterService="filterService"
        >
          <dropdownlist-filter
            [isPrimitive]="true"
            [field]="column.field"
            [currentFilter]="filter"
            [filterService]="filterService"
            textField="value"
            valueField="key"
            [data]="AccountText"
          ></dropdownlist-filter>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="PracticeName" title="Practice Name" [headerStyle]="{'text-align': 'left','width' : '8%'}" [style]="{'text-align': 'left','width' : '8%'}">
      <ng-template kendoGridCellTemplate let-dataItem>
      <div kendoTooltip  [title]="dataItem.PracticeName">
        {{ dataItem?.PracticeName?.length > 100 ? (dataItem.PracticeName | slice:0:100) + '...' : dataItem.PracticeName }}
      </div>
      </ng-template>
      <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
        <kendo-grid-string-filter-menu
            [column]="column"
            [filter]="filter"
            [filterService]="filterService"
            operator="contains">
                <kendo-filter-eq-operator></kendo-filter-eq-operator>
                <kendo-filter-neq-operator></kendo-filter-neq-operator>
                <kendo-filter-contains-operator></kendo-filter-contains-operator>
                <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
        </kendo-grid-string-filter-menu>
    </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="Phone" title="Phone"  filter="numeric" [headerStyle]="{'text-align': 'center','width' : '8%'}" [style]="{'text-align': 'center','width' : '8%'}">
        <ng-template kendoGridCellTemplate let-dataItem>
            <span *ngIf="dataItem.Phone != '' && dataItem.Phone != null">{{dataItem.Phone | phoneFormat }}</span>
          </ng-template>
          <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
            <kendo-grid-numeric-filter-menu
              [column]="column"
              [filter]="filter"
              [filterService]="filterService"
              operator="eq">
                  <kendo-filter-eq-operator></kendo-filter-eq-operator>
                  <kendo-filter-neq-operator></kendo-filter-neq-operator>
                  <kendo-filter-gt-operator></kendo-filter-gt-operator>
                  <kendo-filter-gte-operator></kendo-filter-gte-operator>
                  <kendo-filter-lt-operator></kendo-filter-lt-operator>
                  <kendo-filter-lte-operator></kendo-filter-lte-operator>
          </kendo-grid-numeric-filter-menu>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="Address" title="Address" [headerStyle]="{'text-align': 'left' , 'width' : '10%' }" [style]="{'text-align': 'left' , 'width' : '10%'}">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div kendoTooltip  [title]="dataItem.Address">
              {{ dataItem.Address.length > 50 ? (dataItem.Address | slice:0:50) + '...' : dataItem.Address }}
            </div>
            </ng-template>
            <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
              <kendo-grid-string-filter-menu
                  [column]="column"
                  [filter]="filter"
                  [filterService]="filterService"
                  operator="contains">
                      <kendo-filter-eq-operator></kendo-filter-eq-operator>
                      <kendo-filter-neq-operator></kendo-filter-neq-operator>
                      <kendo-filter-contains-operator></kendo-filter-contains-operator>
                      <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                      <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
              </kendo-grid-string-filter-menu>
          </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="Email" title="Email" [headerStyle]="{'text-align': 'left' , 'width' : '8%' }" [style]="{'text-align': 'left' , 'width' : '8%'}">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div  [title]="dataItem.Email" kendoTooltip [style]="{'word-break':'break-all'}">
          <!-- {{ dataItem.Email.length > 20 ? (dataItem.Email | slice:0:20) + '...' : dataItem.Email}} -->
          {{dataItem.Email}}
        </div>
        </ng-template>
        <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
          <kendo-grid-string-filter-menu
              [column]="column"
              [filter]="filter"
              [filterService]="filterService"
              operator="contains">
                  <kendo-filter-eq-operator></kendo-filter-eq-operator>
                  <kendo-filter-neq-operator></kendo-filter-neq-operator>
                  <kendo-filter-contains-operator></kendo-filter-contains-operator>
                  <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                  <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
          </kendo-grid-string-filter-menu>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="CreatedDate" title="Registered Date" [headerStyle]="{'text-align': 'left' , 'width' : '8%' }" [style]="{'text-align': 'center' , 'width' : '8%'}" >
      <ng-template kendoGridCellTemplate let-dataItem>
        <div>
          {{dataItem.CreatedDate | date :'MM/dd/yyyy' }}
        </div>
        <div>
          {{dataItem.CreatedDate | date :'hh:mm aa' }}
        </div>
        </ng-template>
        <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
          <kendo-grid-date-filter-menu
              [column]="column"
              [filter]="filter"
              [filterService]="filterService"
              operator="eq">
                  <kendo-filter-eq-operator></kendo-filter-eq-operator>
                  <kendo-filter-neq-operator></kendo-filter-neq-operator>
                  <kendo-filter-gt-operator></kendo-filter-gt-operator>
                  <kendo-filter-gte-operator></kendo-filter-gte-operator>
                  <kendo-filter-lt-operator></kendo-filter-lt-operator>
                  <kendo-filter-lte-operator></kendo-filter-lte-operator>
          </kendo-grid-date-filter-menu>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="Status" title="Status"  [headerStyle]="{'text-align': 'center','width' : '6%'}" [style]="{'text-align': 'center','width' : '6%'}" [sortable]="true"  filter="boolean">
        <!-- Toggle switch for department status -->
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex" class="text-center">
          <div class="form-check form-switch text-center toggle-switch" *ngIf="permission.MenuPermission.Edit == true" kendoTooltip>
            <input class="form-check-input text-center" type="checkbox" role="switch"  [(ngModel)]="dataItem.Status" (click)="changeStatus(dataItem.Id)" [attr.title]="dataItem.Status ? 'Active' : 'Inactive'">
          </div>
          <div class="form-check form-switch text-center toggle-switch" *ngIf="permission.MenuPermission.Edit == false" kendoTooltip>
            <input class="form-check-input text-center" type="checkbox" role="switch"  [(ngModel)]="dataItem.Status" disabled="true" [attr.title]="dataItem.Status ? 'Active' : 'Inactive'">
          </div>
        </ng-template>
          <!-- Customize boolean filter values -->
          <kendo-grid-messages
          filterIsTrue="Active"
          filterIsFalse="Inactive"
          >
        </kendo-grid-messages>
      </kendo-grid-column>
      <kendo-grid-column field="ApprovalStatus" title="Approve Status"  [headerStyle]="{'text-align': 'center','width' : '8%'}" [style]="{'text-align': 'center','width' : '8%'}" [sortable]="true">
        <!-- Toggle switch for department status -->
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
          <div *ngIf="permission.MenuPermission.Edit == true && dataItem.ApprovalStatus == 0">
            <select #approvalStatusDropdown id="state" name="state" class="form-select" [value]="dataItem.ApprovalStatus" (change)="changeApproval(dataItem , $event)">
              <option value="0">Pending</option>
              <option value="1">Approved</option>
              <option value="2">Rejected</option>
            </select>
          </div>
          <div *ngIf="permission.MenuPermission.Edit == true && dataItem.ApprovalStatus != 0">
            <span class="font16 font-w600" *ngIf="dataItem.ApprovalStatus == 1" class="status-done">{{dataItem.ApprovalStatusText}}</span>
            <span class="font16 font-w600" *ngIf="dataItem.ApprovalStatus == 2" class="status-standard">{{dataItem.ApprovalStatusText}}</span>
          </div>
          <div class="text-center" *ngIf="permission.MenuPermission.Edit == false">
              <span class="font16 font-w600" *ngIf="dataItem.ApprovalStatus == 1" class="status-done">{{dataItem.ApprovalStatusText}}</span>
              <span class="font16 font-w600" *ngIf="dataItem.ApprovalStatus == 2" class="status-standard">{{dataItem.ApprovalStatusText}}</span>
              <span class="font16 font-w600" *ngIf="dataItem.ApprovalStatus == 0" class="status-member">{{dataItem.ApprovalStatusText}}</span>
          </div>
        </ng-template>
        <ng-template
        kendoGridFilterMenuTemplate
        let-column="column"
        let-filter="filter"
        let-filterService="filterService"
      >
        <dropdownlist-filter
          [isPrimitive]="true"
          [field]="column.field"
          [currentFilter]="filter"
          [filterService]="filterService"
          textField="value"
          valueField="key"
          [data]="Approvaltext"
        ></dropdownlist-filter>
      </ng-template>
      </kendo-grid-column>
    <kendo-grid-column title="Edit"  [headerStyle]="{'text-align': 'center','width' : '7%'}" [style]="{'text-align': 'center','width' : '7%'}" *ngIf="permission.MenuPermission.Edit || permission.MenuPermission.UpdateCardAndAchInfo || permission.MenuPermission.ManageFreeSupplies">
      <ng-template kendoGridCellTemplate let-dataItem>
      <a class="link-gray font16" title="Edit" style="cursor: pointer;" (click)="editMember(dataItem.Id)" *ngIf="permission.MenuPermission.Edit == true"><i class="fa fa-edit"></i></a>
      <a class="link-gray font16 me-2 ms-2" title="Add Card info" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#cardinfo" (click)="OpenCardModel(dataItem.Id)" *ngIf="permission.MenuPermission.UpdateCardAndAchInfo == true"><i class="fas fa-credit-card"></i></a>

      <a (click)="getFreeSuplies(dataItem.Id)" class="status-link" title="Manage Free Supplies" data-bs-toggle="modal" data-bs-target="#ManageFreeSupplies" style="cursor: pointer;" *ngIf="permission.MenuPermission.ManageFreeSupplies == true">Manage Free Supplies</a>  
    </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Delete"  [headerStyle]="{'text-align': 'center','width' : '3%'}" [style]="{'text-align': 'center','width' : '3%'}" *ngIf="permission.MenuPermission.Delete == true">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="link-gray font16" title="Delete" (click)="deleteModel(dataItem.Id)" style="cursor: pointer;" *ngIf="permission.MenuPermission.Delete == true"><i class="fa fa-trash-alt"></i></div>
    </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Users"  [headerStyle]="{'text-align': 'center','width' : '3%'}" [style]="{'text-align': 'center','width' : '3%'}">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div *ngIf="dataItem.HasUser" class="link-gray font16" title="Show Client Users" (click)="showClientUser(dataItem.Id,dataItem.PracticeName)" style="cursor: pointer;"><i class="fa fa-user"></i></div>
    </ng-template>
    </kendo-grid-column>  
    <kendo-grid-column title="Supply Action" [headerStyle]="{'text-align': 'center','width' : '6%'}" [style]="{'text-align': 'center','width' : '6%'}" [sortable]="false" [filterable]="false">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="justify-content-center">
        <div class="text-center m-auto" [style]="{'max-width': '70px'}">
          <a title="Generate Invoice"  class="link-gray font14 d-inline-block status-link" style="cursor: pointer" *ngIf="permission.MenuPermission.GenerateInvoice == true" (click)="generateInvoice(dataItem?.Id,dataItem?.PracticeName)">Generate</a>
          <a title="View Invoice"  class="link-gray font14 d-inline-block status-link" style="cursor: pointer" (click)="redirectView(dataItem?.Id,dataItem?.PhysicianName,dataItem?.AccountNumber)">View</a>
          <a  class="d-inline-block status-link mt-1" style="cursor: pointer; background-color: #F3F5FF;font-size: 10px;"  title="Generate Recurring Order" (click)="RecurringOrder(dataItem?.AccountNumber, dataItem?.PracticeName)">Generate Recurring Order</a>
        </div>
      
      </div>
    </ng-template>
  
  </kendo-grid-column>
    </kendo-grid>
    </div>
  </div>

<!-- Manage Free Supplies Modal start -->
<div class="ourpopup">
  <div class="modal fade" id="ManageFreeSupplies" tabindex="-1" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Quantity Of Free Supplies For this Account</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body formdiv">
          <div class="row justify-content-center">
            <div *ngFor="let supply of supplies; let i = index">
              <div class="mb-3">
                <!-- Dynamically display the product name in the label -->
                <label class="form-label">{{ supply.Title }}</label>
                <div class="d-flex">
                  <input
                    type="text"
                    class="form-control me-2"
                    [(ngModel)]="supply.Quantity"
                    name="Quantity{{ i }}"
                    title="Please enter only numbers"
                    placeholder="Qty"
                    onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"
                    maxlength="9"
                  />
                  <!-- <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="supply.Frequency"
                    name="Frequency{{ i }}"
                    title="Please enter only numbers"
                    placeholder="Frequency"
                    onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"
                    maxlength="9"
                  /> -->
                  <select id="Frequency{{ i }}" name="Frequency{{ i }}" class="form-select"  [(ngModel)]="supply.Frequency"
                 >
                  <option [value]="null">- Select Frequency -</option>
                  <option *ngFor="let freq of freqList" [value]="freq.Key">{{freq.Value}}</option>
                </select>
                </div>
               
            </div>
              </div>
           
            <div class="text-center mt-3">
              <button type="submit" class="btn btn-blue m-1" (click)="UpdateFreeSupplies()">Save</button>   
            </div>
          </div>            
        </div>          
      </div>
    </div>
  </div>
</div>
<!-- Manage Free Supplies Modal end -->


<div class="ourpopup">
  <div class="modal fade" id="cardinfo" tabindex="-1" aria-hidden="true" aria-labelledby="cardinfo" data-bs-focus="false">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Card & ACH Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body formdiv">
          <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                  <div class="card-list">
                  <form [formGroup]="CardDetails" appFocus appFocusFirstInput>
                <div class="row gx-3">
                  <div class="col-lg-7 col-md-6 text-end font17 open-sans text-blue font-w700 mb-3">Add Card</div>
                  <div class="col-lg-5 col-md-6 text-end font14 open-sans text-blue font-w500 mb-3" style="text-decoration: underline;cursor: pointer;" (click)="showVisibility('Card')" *ngIf="permission.MenuPermission.UpdateCardAndAchInfo == true"><i class="fa fa-eye"></i>&nbsp;Show Card Info</div>
                </div>
                  <div class="border-bottom my-1"></div>
                  <div class="row gx-3">
                    <div class="col-lg-6 col-md-6">
                      <div class="mb-3">
                          <label class="form-label">First Name</label>
                          <input type="text" class="form-control" placeholder="Enter First Name" formControlName="CardFirstName" TrimWhitespace maxlength="50">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="mb-3">
                          <label class="form-label">Last Name</label>
                          <input type="text" class="form-control" placeholder="Enter Last Name" formControlName="CardLastName" TrimWhitespace maxlength="50">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="mb-3">
                          <label class="form-label">Billing Zipcode</label>
                          <input type="text" class="form-control" placeholder="Enter Billing Zipcode" formControlName="CardBillingZipCode" TrimWhitespace maxlength="10" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || event.charCode === 45">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="mb-3">
                          <label class="form-label">Card Type</label>
                          <select name="cardtype" class="form-select" formControlName="CardType">
                            <option value="">- Select Card Type -</option>
                            <option value="1">VISA</option>
                            <option value="2">MASTERCARD</option>
                            <option value="3">DISCOVER</option>
                            <option value="4">AMEX</option>
                          </select>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6">
                      <div class="mb-3">
                          <label class="form-label">Card Number</label>
                          <input type="text" class="form-control" placeholder="Enter Card Number" formControlName="CardNumber" TrimWhitespace title="Please enter only numbers" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" maxlength="16">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="mb-3">
                          <label class="form-label">CVV</label>
                          <input type="text" class="form-control" placeholder="Enter CVVS" formControlName="CardCVV" TrimWhitespace title="Please enter only numbers" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" maxlength="4">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="mb-3">
                          <label class="form-label">Expiration</label>
                          <div class="row align-items-center">
                            <div class="col-5"> <input type="text" class="form-control" placeholder="MM" formControlName="CardExpirationMonth" TrimWhitespace title="Please enter only numbers" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" maxlength="2"></div>
                            <div class="col-2 text-center">/</div>
                            <div class="col-5"> <input type="text" class="form-control" placeholder="YYYY" formControlName="CardExpirationYear" TrimWhitespace title="Please enter only numbers" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" maxlength="4"></div>
                          </div>
                        </div>
                    </div>
                  </div>
                  <div class="row gx-3">    
                    <div class="col-lg-6 col-md-6">
                      <label class="form-label"></label>           
                        <div class="mb-3 rightalign">                      
                          <div class="form-check form-check-inline">              
                              <label class="form-check-label" for="inlineCheckbox1">Active Autopay</label>
                               <input class="form-check-input" type="checkbox" id="inlineCheckbox1" formControlName="CardActiveAutoPay">
                           </div>                      
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6" *ngIf="CardDetails.get('CardActiveAutoPay').value == true">
                      <div class="mb-3">
                          <label class="form-label">Auto Pay Days</label>
                          <input type="text" class="form-control" placeholder="Enter Auto Pay Days" formControlName="CardActivePayDays" maxlength="9" TrimWhitespace title="Please enter only numbers" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))">
                        </div>
                    </div>
                 </div>
                 <div class="text-center mt-3" *ngIf="isCardEdit && permission.MenuPermission.UpdateCardAndAchInfo == true">
                  <button type="submit" class="btn btn-blue m-1" (click)="updateCardDetails()">Update Card</button>
                  <button type="button" class="btn btn-blue m-1" (click)="deleteCardDetails()">Remove Card</button> 
              </div>
              </form>
            </div>
                </div>
                <div class="col-lg-6 col-md-12">
                  <div class="card-list">
                  <form [formGroup]="ACHDetails" appFocus appFocusFirstInput>
                  <div class="row gx-3">
                    <div class="col-lg-7 col-md-6 text-end font17 open-sans text-blue font-w700 mb-3">ACH Info</div>
                    <div class="col-lg-5 col-md-6 text-end font14 open-sans text-blue font-w500 mb-3" style="text-decoration: underline;cursor: pointer;" (click)="showVisibility('ACH')" *ngIf="permission.MenuPermission.UpdateCardAndAchInfo == true"><i class="fa fa-eye"></i>&nbsp;Show ACH Info</div>
                  </div>
                  <div class="border-bottom my-1"></div>
                  <!-- <div class="font15 open-sans text-blue font-w600 mb-3">Company Info</div> -->
                  <div class="row gx-3">
                    <div class="col-lg-6 col-md-6">
                      <div class="mb-3">
                        <label class="form-label">Company Name<span class="errortext ms-1">*</span></label>
                        <input type="text" class="form-control" placeholder="Enter Company Name" formControlName="ACHCompanyName" TrimWhitespace [ngClass]="{'is-invalid': isSubmitted && f.ACHCompanyName.errors}" maxlength="50">
                        <div *ngIf="isSubmitted && f.ACHCompanyName.errors" class="invalid-feedback">
                          <div *ngIf="f.ACHCompanyName.errors.required">Please enter Company Name</div>
                        </div>
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                      <div class="mb-3">
                        <label class="form-label">Address</label>
                        <input type="text" class="form-control" placeholder="Enter Address" formControlName="ACHCompanyAddress" TrimWhitespace >
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div class="mb-3">
                      <label class="form-label">Registered Business Name<span class="errortext ms-1">*</span></label>
                      <input type="text" class="form-control" placeholder="Enter Registered Business Name" formControlName="ACHCompanyRegBusiness" TrimWhitespace [ngClass]="{'is-invalid': isSubmitted && f.ACHCompanyRegBusiness.errors}" maxlength="50">
                      <div *ngIf="isSubmitted && f.ACHCompanyRegBusiness.errors" class="invalid-feedback">
                        <div *ngIf="f.ACHCompanyRegBusiness.errors.required">Please enter Registered Business Name</div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="mb-3">
                      <label class="form-label">State<span class="errortext ms-1">*</span></label>
                      <select id="state" name="state" class="form-select" formControlName="ACHCompanyStateId" [ngClass]="{'is-invalid': isSubmitted && f.ACHCompanyStateId.errors}">
                          <option value="">- Select State -</option>
                          <option *ngFor="let state of StateList" [value]="state.Key">{{state.Value}}</option>                                            </select>
                          <div *ngIf="isSubmitted && f.ACHCompanyStateId.errors" class="invalid-feedback">
                            <div *ngIf="f.ACHCompanyStateId.errors.required">Please select State</div>
                          </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Email<span class="errortext ms-1">*</span></label>
                    <input type="text" class="form-control" placeholder="Enter Email" formControlName="ACHCompanyEmail" TrimWhitespace [ngClass]="{'is-invalid': isSubmitted && f.ACHCompanyEmail.errors}" appInputMaskEmail maxlength="100">
                    <div *ngIf="isSubmitted && f.ACHCompanyEmail.errors" class="invalid-feedback">
                      <div *ngIf="f.ACHCompanyEmail.errors.required">Please enter Email</div>
                      <div *ngIf="f.ACHCompanyEmail.errors.pattern">Invalid Email!</div>
                    </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="mb-3">
                    <label class="form-label">City<span class="errortext ms-1">*</span></label>
                    <input type="text" class="form-control" placeholder="Enter City" formControlName="ACHCompanyCity" TrimWhitespace [ngClass]="{'is-invalid': isSubmitted && f.ACHCompanyCity.errors}" maxlength="100">
                    <div *ngIf="isSubmitted && f.ACHCompanyCity.errors" class="invalid-feedback">
                      <div *ngIf="f.ACHCompanyCity.errors.required">Please enter City</div>
                    </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Zip<span class="errortext ms-1">*</span></label>
                    <input type="text" class="form-control" placeholder="Enter Zip" formControlName="ACHCompanyZip" TrimWhitespace [ngClass]="{'is-invalid': isSubmitted && f.ACHCompanyZip.errors}" maxlength="10" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || event.charCode === 45">
                    <div *ngIf="isSubmitted && f.ACHCompanyZip.errors" class="invalid-feedback">
                      <div *ngIf="f.ACHCompanyZip.errors.required">Please enter Zip</div>
                    </div>
                  </div>
              </div>
                  </div>
                  <div class="row gx-3">
                    <div class="col-lg-6 col-md-6">
                      <div class="mb-3">
                        <label class="form-label">Bank Name<span class="errortext ms-1">*</span></label>
                        <input type="text" class="form-control" placeholder="Enter Bank Name" formControlName="ACHBankName" TrimWhitespace [ngClass]="{'is-invalid': isSubmitted && f.ACHBankName.errors}" maxlength="150">
                        <div *ngIf="isSubmitted && f.ACHBankName.errors" class="invalid-feedback">
                          <div *ngIf="f.ACHBankName.errors.required">Please enter Bank Name</div>
                        </div>
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                      <div class="mb-3">
                        <label class="form-label">Bank Address<span class="errortext ms-1">*</span></label>
                        <input type="text" class="form-control" placeholder="Enter Bank Address" formControlName="ACHBankAddress" TrimWhitespace [ngClass]="{'is-invalid': isSubmitted && f.ACHBankAddress.errors}">
                        <div *ngIf="isSubmitted && f.ACHBankAddress.errors" class="invalid-feedback">
                          <div *ngIf="f.ACHBankAddress.errors.required">Please enter Bank Address</div>
                        </div>
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                      <div class="mb-3">
                        <label class="form-label">Bank Account Number<span class="errortext ms-1">*</span></label>
                        <input type="text" class="form-control" placeholder="Enter Confirm Bank Account Number" formControlName="ACHBankAccountNumber" TrimWhitespace [ngClass]="{'is-invalid': isSubmitted && f.ACHBankAccountNumber.errors}" maxlength="50" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)">
                        <div *ngIf="isSubmitted && f.ACHBankAccountNumber.errors" class="invalid-feedback">
                          <div *ngIf="f.ACHBankAccountNumber.errors.required">Please enter Bank Account Number</div>
                         
                        </div>
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                      <div class="mb-3">
                        <label class="form-label">Confirm Bank Account Number<span class="errortext ms-1">*</span></label>
                        <input type="text" class="form-control" placeholder="Enter Bank Account Number" formControlName="ConfirmBankAccount" TrimWhitespace [ngClass]="{'is-invalid': isSubmitted && f.ConfirmBankAccount.errors}" maxlength="50" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)">
                        <div *ngIf="isSubmitted && f.ConfirmBankAccount.errors" class="invalid-feedback">
                          <div *ngIf="f.ConfirmBankAccount.errors.required">Please enter Confirm Bank Account Number</div>
                          <div *ngIf="f.ConfirmBankAccount.errors.mismatch">Bank Account Number is Mismatch</div>
                        </div>
                      </div>
                  </div>
                  <div class="col-lg-12 col-md-6">
                    <div class="mb-3">
                      <label class="form-label">Bank Routing (ABA)<span class="errortext ms-1">*</span></label>
                      <input type="text" class="form-control" placeholder="Enter Registered Business Name" formControlName="ACHBankRouting" TrimWhitespace [ngClass]="{'is-invalid': isSubmitted && f.ACHBankRouting.errors}" minlength="9" maxlength="9" >
                      <div *ngIf="isSubmitted && f.ACHBankRouting.errors" class="invalid-feedback">
                        <div *ngIf="f.ACHBankRouting.errors.required">Please enter Bank Routing (ABA)</div>
                        <div *ngIf="f.ACHBankRouting.errors.minlength">
                          Bank Routing (ABA) number must be 9 digits
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="mb-3">
                      <label class="form-label">State<span class="errortext ms-1">*</span></label>
                      <select id="bank_state" name="bank_state" class="form-select" formControlName="ACHBankStateId" [ngClass]="{'is-invalid': isSubmitted && f.ACHBankStateId.errors}">
                        <option value="">- Select State -</option>
                        <option *ngFor="let state of StateList" [value]="state.Key">{{state.Value}}</option>   
                        </select>
                        <div *ngIf="isSubmitted && f.ACHBankStateId.errors" class="invalid-feedback">
                          <div *ngIf="f.ACHBankStateId.errors.required">Please select State</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="mb-3">
                      <label class="form-label">City<span class="errortext ms-1">*</span></label>
                      <input type="text" class="form-control" placeholder="Enter City" formControlName="ACHBankCity" TrimWhitespace [ngClass]="{'is-invalid': isSubmitted && f.ACHBankCity.errors}" maxlength="100">
                      <div *ngIf="isSubmitted && f.ACHBankCity.errors" class="invalid-feedback">
                        <div *ngIf="f.ACHBankCity.errors.required">Please enter City</div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="mb-3">
                      <label class="form-label">Zip<span class="errortext ms-1">*</span></label>
                      <input type="text" class="form-control" placeholder="Enter Zip" formControlName="ACHBankZip" TrimWhitespace [ngClass]="{'is-invalid': isSubmitted && f.ACHBankZip.errors}" maxlength="10" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || event.charCode === 45">
                      <div *ngIf="isSubmitted && f.ACHBankZip.errors" class="invalid-feedback">
                        <div *ngIf="f.ACHBankZip.errors.required">Please enter Zip</div>
                      </div>
                    </div>
                </div>
                  </div>
                  <div class="text-center mt-3" *ngIf="isACHEdit && permission.MenuPermission.UpdateCardAndAchInfo == true">
                    <button type="submit" class="btn btn-blue m-1" (click)="UpdateACHDetails()">Update ACH</button>
                    <button type="button" class="btn btn-blue m-1" (click)="DeleteACHDetails()">Delete ACH</button>                       
                </div>
                </form>
                </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

