<div class="font15 font-w600 text-blue mt-2 mb-3 addedproicon" *ngIf="permission.MenuPermission.Add == true">
    <div class="row">
      <div class="col-lg-6 text-start">    
        <div class="font17 open-sans text-blue font-w700 my-2">Returned/Discarded Specimen Log</div>
      </div>
      <div class="col-lg-6 text-end" *ngIf="permission?.MenuPermission.Add == true">
        <span  style="cursor: pointer" (click)="add()"><img src="../../../assets/images/icons/add-icon-white.svg" class="me-2" />Create New Specimen</span>
      </div>
    </div>
</div>

<div class="tablediv mt-2" *ngIf="permission?.MenuPermission.View == true">
    <div class="table-responsive">
        <kendo-grid
            [data]="specimenList"
            [pageSize]="state.take"
            [skip]="state.skip"
            [sortable]="true"
            [sort]="state.sort"
            filterable="menu"
            [filter]="state.filter"
            [pageable]="{buttonCount:5,pageSizes:[10,20,50,100,500]}"
            (dataStateChange)="dataStateChange($event)"
        >
            <kendo-grid-column field="Ticketnumber" title="Specimen ID Number" [headerStyle]="{'text-align': 'left' , 'width' : '8%' }" [style]="{'text-align': 'left' , 'width' : '8%'}">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <div class="d-flex align-items-center">
                      <a class="link-blue" style="cursor: pointer;" (click)="reidrectView(dataItem.Id)"><u>{{dataItem.Ticketnumber}}</u></a>
                   </div>
                    </ng-template>
                <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
                    <kendo-grid-numeric-filter-menu
                    [column]="column"
                    [filter]="filter"
                    [filterService]="filterService"
                    operator="eq">
                        <kendo-filter-eq-operator></kendo-filter-eq-operator>
                        <kendo-filter-neq-operator></kendo-filter-neq-operator>
                        <kendo-filter-gt-operator></kendo-filter-gt-operator>
                        <kendo-filter-gte-operator></kendo-filter-gte-operator>
                        <kendo-filter-lt-operator></kendo-filter-lt-operator>
                        <kendo-filter-lte-operator></kendo-filter-lte-operator>
                </kendo-grid-numeric-filter-menu>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="DueDate" title="Due" [headerStyle]="{'text-align': 'left' , 'width' : '8%' }" [style]="{'text-align': 'center' , 'width' : '8%'}">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <div>{{ dataItem.DueDate | date :'MM/dd/yyyy' }}</div>
                
                    <!-- {{ dataItem.SubmittedDate | date:'yyyy-MM-dd HH:mm:ss'}} -->
                </ng-template>
                <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
                    <kendo-grid-date-filter-menu
                        [column]="column"
                        [filter]="filter"
                        [filterService]="filterService"
                        operator="eq">
                        <kendo-filter-eq-operator></kendo-filter-eq-operator>
                        <kendo-filter-neq-operator></kendo-filter-neq-operator>
                        <kendo-filter-gt-operator></kendo-filter-gt-operator>
                        <kendo-filter-gte-operator></kendo-filter-gte-operator>
                        <kendo-filter-lt-operator></kendo-filter-lt-operator>
                        <kendo-filter-lte-operator></kendo-filter-lte-operator>
                    </kendo-grid-date-filter-menu>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="UserName" title="Submitted User ID" [headerStyle]="{'text-align': 'left' , 'width' : '8%' }" [style]="{'text-align': 'left' , 'width' : '8%'}">
                <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
                    <kendo-grid-string-filter-menu
                        [column]="column"
                        [filter]="filter"
                        [filterService]="filterService"
                        operator="contains">
                            <kendo-filter-eq-operator></kendo-filter-eq-operator>
                            <kendo-filter-neq-operator></kendo-filter-neq-operator>
                            <kendo-filter-contains-operator></kendo-filter-contains-operator>
                            <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                            <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
                    </kendo-grid-string-filter-menu>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="Type" title="Type" [headerStyle]="{'text-align': 'left' , 'width' : '8%' }" [style]="{'text-align': 'left' , 'width' : '8%'}">
                <ng-template
                kendoGridFilterMenuTemplate
                let-column="column"
                let-filter="filter"
                let-filterService="filterService"
               
              >
                <dropdownlist-filter
                  [isPrimitive]="true"
                  [field]="column.field"
                  [currentFilter]="filter"
                  [filterService]="filterService"
                  textField="Value"
                  valueField="Key"
                  [data]="TypeList"
                ></dropdownlist-filter>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="SeverityName" title="Severity" [headerStyle]="{'text-align': 'left' , 'width' : '9%' }" [style]="{'text-align': 'left' , 'width' : '9%'}">
              <ng-template
              kendoGridFilterMenuTemplate
              let-column="column"
              let-filter="filter"
              let-filterService="filterService"
             
            >
              <dropdownlist-filter
                [isPrimitive]="true"
                [field]="column.field"
                [currentFilter]="filter"
                [filterService]="filterService"
                textField="Value"
                valueField="Key"
                [data]="severityList"
              ></dropdownlist-filter>
            </ng-template>
            </kendo-grid-column>        
            <kendo-grid-column field="StageName" title="Status" [headerStyle]="{'text-align': 'left' , 'width' : '9%' }" [style]="{'text-align': 'left' , 'width' : '9%'}">
                <ng-template
                kendoGridFilterMenuTemplate
                let-column="column"
                let-filter="filter"
                let-filterService="filterService"
              >
                <dropdownlist-filter
                  [isPrimitive]="true"
                  [field]="column.field"
                  [currentFilter]="filter"
                  [filterService]="filterService"
                  textField="Value"
                  valueField="Key"
                  [data]="statusList"
                ></dropdownlist-filter>
              </ng-template>
            </kendo-grid-column>             
        </kendo-grid>
    </div>
</div>

