<div class="test-head-main mt-5 mb-4" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="300"
data-aos-offset="0" data-aos-delay="0">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-10 col-lg-10">
      <div class="test-head-logo text-center mb-4">
        <img src="{{storageUrl}}images/test/NextGenSalivaTesting.png" alt="saliva hormone panels" class="img-fluid">
      </div>
      <div class="test-head-title text-center mt-4 pt-3">
        <h6 class="test-title">What is being tested in our saliva hormone panels?</h6>
      </div>
    </div>
  </div>
</div>
</div>

<div class="aml-taccordion-desc mb-4" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="300"
  data-aos-offset="0" data-aos-delay="0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-12 col-lg-10">
        <div class="aml-taccordion-inner">
          <div class="aml-taccordion-info mb-4">
            <!-- Advanced Hormone Accordion Area Start -->
             
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="aml-faqs-item accordion-item">
                <h2 class="aml-taccordion-header accordion-header" id="flush-headingfive">
                  <button class="accordion-button collapsed" type="button" 
                    data-bs-target="#flush-collapsefive" aria-expanded="false" aria-controls="flush-collapsefive">
                    NextGen Male Panel (S57)
                  </button>
                </h2>
                <div id="flush-collapsefive" class="accordion-collapse collapse" aria-labelledby="flush-headingfive"
                  data-bs-parent="#accordionFlushExample">
                  <div class="aml-taccordion-body accordion-body" id="inline-header2">
                    <div class="aml-taccordion-binner">
                      <div class="col-12">
                        <div class="aml-taccordion-qa mb-3">
                          <!-- Question -->
                          <p class="aml-taccordion-que">
                            <a href="{{storageUrl}}pdf/S57_Sample_Report.pdf" target="_blank">Click
                              here</a> to view a Sample Report related to this panel.
                          </p>
                          <div class="row">
                            <!-- Column 1 -->
                            <div class="col-sm-12 col-lg-6 mt-2">
                              <!-- Answer -->
                              <ul class="aml-taccordion-ans">
                                <li class="aml-taccordion-item">Estradiol</li>
                                <li class="aml-taccordion-item">Testosterone</li>
                                <li class="aml-taccordion-item">Cortisol</li>
                                <li class="aml-taccordion-item">Progesterone</li>
                              </ul>
                            </div>
                            <div class="col-sm-12 col-lg-6 mt-2">
                              <!-- Answer -->
                              <ul class="aml-taccordion-ans">
                                <li class="aml-taccordion-item">Melatonin</li>
                                <li class="aml-taccordion-item">DHT</li>
                                <li class="aml-taccordion-item">Androstenedione</li>
                                <li class="aml-taccordion-item">DHEA</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="aml-faqs-item accordion-item">
                <h2 class="aml-taccordion-header accordion-header" id="flush-headingsix">
                  <button class="accordion-button collapsed" type="button" 
                    data-bs-target="#flush-collapsesix" aria-expanded="false" aria-controls="flush-collapsesix">
                    NextGen Female Panel (S59)
                  </button>
                </h2>
                <div id="flush-collapsesix" class="accordion-collapse collapse" aria-labelledby="flush-headingsix"
                  data-bs-parent="#accordionFlushExample">
                  <div class="aml-taccordion-body accordion-body" id="inline-header3">
                    <div class="aml-taccordion-binner">
                      <div class="col-12">
                        <div class="aml-taccordion-qa mb-3">
                          <!-- Question -->
                          <p class="aml-taccordion-que">
                            <a href="{{storageUrl}}pdf/S59_Sample_Report.pdf" target="_blank">Click
                              here</a> to view a Sample Report related to this panel.
                          </p>
                          <div class="row">
                            <!-- Column 1 -->
                            <div class="col-sm-12 col-lg-6 mt-2">
                              <!-- Answer -->
                              <ul class="aml-taccordion-ans">
                                <li class="aml-taccordion-item">Estradiol</li>
                                <li class="aml-taccordion-item">Estriol</li>
                                <li class="aml-taccordion-item">Estrone</li>
                                <li class="aml-taccordion-item">Progesterone</li>
                              </ul>
                            </div>
                            <div class="col-sm-12 col-lg-6 mt-2">
                              <!-- Answer -->
                              <ul class="aml-taccordion-ans">
                                <li class="aml-taccordion-item">Testosterone</li>
                                <li class="aml-taccordion-item">Cortisol</li>
                                <li class="aml-taccordion-item">DHEA</li>
                                <li class="aml-taccordion-item">Melatonin</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="aml-faqs-item accordion-item">
                <h2 class="aml-taccordion-header accordion-header" id="flush-headingseven">
                  <button class="accordion-button collapsed" type="button" 
                    data-bs-target="#flush-collapseseven" aria-expanded="false" aria-controls="flush-collapseseven">
                    NextGen Adrenal Panel (S51)
                  </button>
                </h2>
                <div id="flush-collapseseven" class="accordion-collapse collapse" aria-labelledby="flush-headingseven"
                  data-bs-parent="#accordionFlushExample">
                  <div class="aml-taccordion-body accordion-body" id="inline-header4">
                    <div class="aml-taccordion-binner">
                      <div class="col-12">
                        <div class="aml-taccordion-qa mb-3">
                          <!-- Question -->
                          <p class="aml-taccordion-que">
                            <a href="{{storageUrl}}pdf/S51_Male_Report.pdf" target="_blank">Click
                              here</a> to view a Sample Report related to this panel.
                          </p>
                          <div class="row">
                            <!-- Column 1 -->
                            <div class="col-sm-12 col-lg-6 mt-2">
                              <!-- Answer -->
                              <ul class="aml-taccordion-ans">
                                <li class="aml-taccordion-item">Cortisol, AM</li>
                                <li class="aml-taccordion-item">Cortisol, Noon</li>
                                <li class="aml-taccordion-item">Cortisol, Evening
                                </li>
                              </ul>
                            </div>
                            <div class="col-sm-12 col-lg-6 mt-2">
                              <!-- Answer -->
                              <ul class="aml-taccordion-ans">
                                <li class="aml-taccordion-item">Cortisol, Night
                                </li>
                                <li class="aml-taccordion-item">DHEA</li>
                                <li class="aml-taccordion-item">17-OH Progesterone
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="aml-faqs-item accordion-item">
                <h2 class="aml-taccordion-header accordion-header" id="flush-headingnine">
                  <button class="accordion-button collapsed" type="button" 
                    data-bs-target="#flush-collapsenine" aria-expanded="false" aria-controls="flush-collapsenine">
                    NextGen Menopause Panel (S75)
                  </button>
                </h2>
                <div id="flush-collapsenine" class="accordion-collapse collapse" aria-labelledby="flush-headingnine"
                  data-bs-parent="#accordionFlushExample">
                  <div class="aml-taccordion-body accordion-body" id="inline-header5">
                    <div class="aml-taccordion-binner">
                      <div class="col-12">
                        <div class="aml-taccordion-qa mb-3">
                          <!-- Question -->
                          <p class="aml-taccordion-que">
                            <a href="{{storageUrl}}pdf/S75_Sample_Report.pdf" target="_blank">Click
                              here</a> to view a Sample Report related to this panel.
                          </p>
                          <div class="row">
                            <!-- Column 1 -->
                            <div class="col-sm-12 col-lg-6 mt-2">
                              <!-- Answer -->
                              <ul class="aml-taccordion-ans">
                                <li class="aml-taccordion-item">Estradiol</li>
                                <li class="aml-taccordion-item">Estriol</li>
                                <li class="aml-taccordion-item">Estrone</li>
                                <li class="aml-taccordion-item">Progesterone</li>
                                <li class="aml-taccordion-item">Testosterone</li>
                              </ul>
                            </div>
                            <div class="col-sm-12 col-lg-6 mt-2">
                              <!-- Answer -->
                              <ul class="aml-taccordion-ans">
                                <li class="aml-taccordion-item">DHEA-Sulfate</li>
                                <li class="aml-taccordion-item">Cortisol</li>
                                <li class="aml-taccordion-item">Melatonin</li>
                                <li class="aml-taccordion-item">Androstenedione
                                </li>
                                <li class="aml-taccordion-item">17-OH Progesterone
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="aml-faqs-item accordion-item">
                <h2 class="aml-taccordion-header accordion-header" id="flush-headingeight">
                  <button class="accordion-button collapsed" type="button" 
                    data-bs-target="#flush-collapseeight" aria-expanded="false" aria-controls="flush-collapseeight">
                    NextGen Andropause Panel (S71)
                  </button>
                </h2>
                <div id="flush-collapseeight" class="accordion-collapse collapse" aria-labelledby="flush-headingeight"
                  data-bs-parent="#accordionFlushExample">
                  <div class="aml-taccordion-body accordion-body" id="inline-header6">
                    <div class="aml-taccordion-binner">
                      <div class="col-12">
                        <div class="aml-taccordion-qa mb-3">
                          <!-- Question -->
                          <p class="aml-taccordion-que">
                            <a href="{{storageUrl}}pdf/S71_Sample_Report.pdf" target="_blank">Click
                              here</a> to view a Sample Report related to this panel.
                          </p>
                          <div class="row">
                            <!-- Column 1 -->
                            <div class="col-sm-12 col-lg-6 mt-2">
                              <!-- Answer -->
                              <ul class="aml-taccordion-ans">
                                <li class="aml-taccordion-item">Testosterone</li>
                                <li class="aml-taccordion-item">DHEA-Sulfate</li>
                                <li class="aml-taccordion-item">Melatonin</li>
                              </ul>
                            </div>
                            <div class="col-sm-12 col-lg-6 mt-2">
                              <!-- Answer -->
                              <ul class="aml-taccordion-ans">
                                <li class="aml-taccordion-item">DHT</li>
                                <li class="aml-taccordion-item">Cortisol</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="aml-faqs-item accordion-item">
                <h2 class="aml-taccordion-header accordion-header" id="flush-headingten">
                  <button class="accordion-button collapsed" type="button" 
                    data-bs-target="#flush-collapseten" aria-expanded="false" aria-controls="flush-collapseten">
                    Female EvaluatoR Panel (S84)
                  </button>
                </h2>
                <div id="flush-collapseten" class="accordion-collapse collapse" aria-labelledby="flush-headingten"
                  data-bs-parent="#accordionFlushExample">
                  <div class="aml-taccordion-body accordion-body" id="inline-header7">
                    <div class="aml-taccordion-binner">
                      <div class="col-12">
                        <div class="aml-taccordion-qa mb-3">
                          <!-- Question -->
                          <p class="aml-taccordion-que">
                            <a href="{{storageUrl}}pdf/S84_Sample_Report.pdf" target="_blank">Click
                              here</a> to view a Sample Report related to this panel.
                          </p>
                          <div class="row">
                            <!-- Column 1 -->
                            <div class="col-sm-12 col-lg-6 mt-2">
                              <!-- Answer -->
                              <ul class="aml-taccordion-ans">
                                <li class="aml-taccordion-item">Estradiol x 11 Readings Over 28 Days <small>(Female
                                    Cycle)</small></li>
                                <li class="aml-taccordion-item">Progesterone x 11 Readings Over 28 Days <small>(Female
                                    Cycle)</small></li>
                              </ul>
                            </div>
                            <div class="col-sm-12 col-lg-6 mt-2">
                              <!-- Answer -->
                              <ul class="aml-taccordion-ans">
                                <li class="aml-taccordion-item">DHEA-Sulfate</li>
                                <li class="aml-taccordion-item">Testosterone</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="aml-faqs-item accordion-item">
                <h2 class="aml-taccordion-header accordion-header" id="flush-headingeleven">
                  <button class="accordion-button collapsed" type="button" 
                    data-bs-target="#flush-collapseeleven" aria-expanded="false" aria-controls="flush-collapseeleven">
                    The Hormone BluePrint (4350)
                  </button>
                </h2>
                <div id="flush-collapseeleven" class="accordion-collapse collapse" aria-labelledby="flush-headingeleven"
                  data-bs-parent="#accordionFlushExample">
                  <div class="aml-taccordion-body accordion-body" id="inline-header8">
                    <div class="aml-taccordion-binner">
                      <div class="col-12">
                        <div class="aml-taccordion-qa mb-3">
                          <!-- Question -->
                          <p class="aml-taccordion-que">
                            <a href="{{storageUrl}}pdf/Saliva_Blue_Print_sample_report.pdf"
                              target="_blank">Click here</a> to view a Sample Report related to this panel.
                          </p>
                          <div class="row">
                            <!-- Column 1 -->
                            <div class="col-sm-12 col-lg-6 mt-2">
                              <!-- Answer -->
                              <ul class="aml-taccordion-ans">
                                <li class="aml-taccordion-item">Testosterone x 4 Readings Over Four Days</li>
                                <li class="aml-taccordion-item">DHEA x 4 Readings Over Four Days</li>
                                <li class="aml-taccordion-item">Estrone x 4 Readings Over Four Days</li>
                                <li class="aml-taccordion-item">Estradiol x 4 Readings Over Four Days</li>
                                <li class="aml-taccordion-item">Estriol x 4 Readings Over Four Days</li>
                                <li class="aml-taccordion-item">Progesterone x 4 Readings Over Four Days</li>
                              </ul>
                            </div>
                            <div class="col-sm-12 col-lg-6 mt-2">
                              <!-- Answer -->
                              <ul class="aml-taccordion-ans">
                                <li class="aml-taccordion-item">DHT x 4 Readings Over Four Days</li>
                                <li class="aml-taccordion-item">Cortisol x 4 Readings Over Four Days</li>
                                <li class="aml-taccordion-item">Androstenedione x 4 Readings Over Four Days</li>
                                <li class="aml-taccordion-item">17-OH Progesterone x 4 Readings Over Four Days</li>
                                <li class="aml-taccordion-item">Melatonin AM x 4 Readings Over Four Days</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Advanced Hormone Accordion Area End -->
          </div>
        </div>
      </div>
    </div>

    <!-- Get Started Section Start -->
    <div class="row justify-content-center" data-aos-easing="linear" data-aos-duration="450" data-aos-offset="0"
      data-aos-delay="0">
      <div class="col-sm-12 col-md-12 col-lg-10">
        <div class="aml-gets-area bg-gradient-banner mb-3">
          <div class="row align-items-center">
            <div class="col-lg-8" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="450"
              data-aos-offset="0" data-aos-delay="0">
              <div class="aml-gets-text">
                <h6 class="aml-head">Receive Test Results Within 24 to 48 Hours</h6>
              </div>
            </div>
            <div class="col-lg-4" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="450"
              data-aos-offset="0" data-aos-delay="0">
              <div class="aml-gets-btn text-lg-end">
                <a href="/register" class="btn btn-white">Get Started</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Get Started Section End -->
    <!-- Test Other Content Start -->
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-12 col-lg-10">
        <div class="aml-itest-conent aml-bg-gray" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="300"
          data-aos-offset="0" data-aos-delay="0">
          <div class="aml-itest-qa" id="inline-header1">
            <h6 class="aml-head mb-2" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="500"
              data-aos-offset="0" data-aos-delay="0">
              <strong>What is a saliva hormone panel?</strong>
            </h6>
            <p class="aml-idesc" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="500"
              data-aos-offset="0" data-aos-delay="0">
              A saliva hormone panel is a series of tests that measure biomarkers in the saliva. A precise, non-invasive
              alternative to blood testing, these panels analyze key components of hormonal health. As the interplay of
              hormones is complex, isolating single markers for testing is difficult. Saliva hormone panels mitigate
              this issue by measuring several hormone levels simultaneously. A single panel can help you decipher many
              hormone-related symptoms, including mood swings, poor sleep, and irregular menstrual cycles.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-12 col-lg-10">
        <div class="aml-itest-conent mb-5">
          <div class="aml-itest-qa" id="inline-header9">
            <p class="aml-idesc mb-3" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="500"
              data-aos-offset="0" data-aos-delay="0">
              Saliva testing proves to be more effective than blood testing when searching for “free” hormone levels.
              Some hormones, in particular steroid hormones, bind to hormone carrier proteins in the blood, making them
              unavailable to target tissues. Consequently, the concentration of hormones in the blood is higher than in
              the saliva. Saliva panels measure the bioavailable hormone levels, which better relate to hormonal
              imbalances.
            </p>
            <p class="aml-idesc mb-3" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="500"
              data-aos-offset="0" data-aos-delay="0">
              Alongside additional diagnostic tests, saliva hormone panels can indicate hormonal imbalances and
              potential disorders. You may also use these panels to track the efficacy of lifestyle changes (exercise,
              diet, etc.) and treatments. Additionally, consistent hormone panels can monitor changes during
              perimenopause, menopause, and andropause. They may also be helpful leading up to and throughout
              bioidentical hormone replacement therapy (BHRT).
            </p>
            <div class="aml-itest-img mt-5 mb-5 text-center">
              <img src="{{storageUrl}}images/test/NextGenSalivaTestingIcon.png" class="img-fluid"
                alt="NextGen SalivaTesting">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-12 col-lg-10">
        <div class="aml-itest-content aml-bg-gray mb-4"
          style="background-image: url({{storageUrl}}images/test/ngst.png); background-size: 75%; background-position: bottom right; background-repeat: no-repeat;">
          <div class="row">
            <div class="col-sm-12 col-md-9 col-lg-9">
              <div class="aml-itest-qa" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="500"
                data-aos-offset="0" data-aos-delay="0" id="inline-header10">
                <!-- <h6 class="aml-head mb-2">
                        Metabolism and Hormones
                    </h6> -->
                <p class="aml-idesc" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="550"
                  data-aos-offset="0" data-aos-delay="0">
                  In short, our saliva hormone panels are the most effective way to track:
                </p>
                <ul class="aml-idesc-list mb-0" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="500"
                  data-aos-offset="0" data-aos-delay="0">
                  <li class="aml-idesc-item">The presence/severity of hormonal imbalances</li>
                  <li class="aml-idesc-item">Overall health and wellness, including stress patterns</li>
                  <li class="aml-idesc-item">Hormonal changes such as menopause and andropause</li>
                  <li class="aml-idesc-item">Sexual and reproductive health</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="aml-itest-conent">
          <div class="aml-itest-qa" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="500"
            data-aos-offset="0" data-aos-delay="0" id="inline-header11">
            <h5 class="aml-head mb-2">
              What is measured in a saliva hormone panel?
            </h5>
            <p class="aml-idesc mb-2" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="500"
              data-aos-offset="0" data-aos-delay="0">
              We offer testing for numerous biomarkers. Many of our panels include cortisol, DHEA, DHEA-S, melatonin,
              and the sex hormones (including progesterone, testosterone, and estrogen), among others.
            </p>

            <p class="aml-idesc mb-2" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="500"
              data-aos-offset="0" data-aos-delay="0">
              Several of our panels measure hormone changes over time. This is necessary to track hormonal cycles. For
              example, our NextGen Adrenal panels require several saliva samples throughout the day to measure
              fluctuating cortisol levels. As well as increasing accuracy, these panels can effectively detect
              imbalances in hormonal cycles.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="aml-itest-conent">
          <div class="aml-itest-qa" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="500"
            data-aos-offset="0" data-aos-delay="0" id="inline-header12">
            <h5 class="aml-head mb-2">
              Which saliva hormone test do I need?
            </h5>
            <p class="aml-idesc mb-2" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="500"
              data-aos-offset="0" data-aos-delay="0">
              Access Medical Labs offers seven customizable hormone panels.
            </p>
            <h6 class="aml-smhead mb-2">
             <small> Male and Female Hormone Panel</small>
            </h6>
            <p class="aml-idesc mb-2" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="500"
              data-aos-offset="0" data-aos-delay="0">
              Using highly-effective testing methodologies, our NextGen Hormone panel assesses hormones that are
              critical to your patient’s health. As an annual screening, this panel is ideal for monitoring patient
              health and wellness, providing insight into emerging imbalances, or detecting hormonal disorders.
            </p>

            <p class="aml-idesc mb-2" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="500"
              data-aos-offset="0" data-aos-delay="0">
              We offer two gender-specific NextGen Hormone panels. Our NextGen Male panel is calculated for men’s
              health. Along with hormones such as cortisol, it measures several androgens, including testosterone and
              DHT. Likewise, our female panel includes hormones such as estriol and estrone for a more complete picture
              of women’s health.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="aml-itest-conent">
          <div class="aml-itest-qa" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="500"
            data-aos-offset="0" data-aos-delay="0" id="inline-header13">
            <h6 class="aml-smhead mb-2">
             <small> Adrenal Panel </small>
            </h6>
            <p class="aml-idesc mb-2" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="500"
              data-aos-offset="0" data-aos-delay="0">
              Through our andropause panel, you can measure essential andropause-related markers. During andropause,
              your patient may experience hormonal imbalances symptomized by lack of energy, insomnia, and poor
              concentration. Hormone panels help you and your patient anticipate symptoms and optimize their health
              during this time.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="aml-itest-conent">
          <div class="aml-itest-qa" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="500"
            data-aos-offset="0" data-aos-delay="0" id="inline-header14">
            <h6 class="aml-smhead mb-2">
             <small> Menopause Panel </small>
            </h6>
            <p class="aml-idesc mb-2" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="500"
              data-aos-offset="0" data-aos-delay="0">
              A litany of symptoms attend menopause, including hot flashes, mood swings, and drastic shifts such as
              infertility. Monitoring hormonal shifts before and during menopause is vital to patient care. Our
              menopause panel can help your patient monitor these changes and develop a health plan as they age.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="aml-itest-conent">
          <div class="aml-itest-qa" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="500"
            data-aos-offset="0" data-aos-delay="0" id="inline-header15">
            <h6 class="aml-smhead mb-2">
             <small> Female EvaluatoR Panel </small>
            </h6>
            <p class="aml-idesc mb-2" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="500"
              data-aos-offset="0" data-aos-delay="0">
              The menstrual cycle reveals indispensable information about your patients’ health. The Female EvaluatoR
              panel measures hormone levels over 28 days for the most accurate and in-depth readings. This panel focuses
              on the central menstruation hormones: progesterone, estradiol, testosterone, and DHEA-S. Consider this
              panel for patients concerned about their reproductive health.
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="aml-itest-conent">
          <div class="aml-itest-qa" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="500"
            data-aos-offset="0" data-aos-delay="0" id="inline-header16">
            <h6 class="aml-smhead mb-2">
              <small> The Hormone BluePrint Panel </small>
            </h6>
            <p class="aml-idesc mb-2" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="500"
              data-aos-offset="0" data-aos-delay="0">
              Rather than a snapshot of your patients hormones, our Hormone BluePrint panel is a comprehensive analysis.
              It encompasses each hormone from our panels. This includes melatonin, 17-OH progesterone, DHT, and more.
              The Hormone BluePrint requires four saliva samples over the course of four days. Ideal for developing a
              baseline of hormonal behavior before, during, and after treatment, this panel can also reveal correlations
              between hormone fluctuations and diet, exercise, and sleep.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="aml-itest-conent">
          <div class="aml-itest-qa" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="500"
            data-aos-offset="0" data-aos-delay="0" id="inline-header17">
            <h5 class="aml-head mb-2">
              What is the saliva hormone testing process?
            </h5>
            <p class="aml-idesc mb-2" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="500"
              data-aos-offset="0" data-aos-delay="0">
              Saliva testing is quick and non-invasive. With our test kit, saliva samples may be self-collected in the
              comfort of your patient’s home. Once our laboratory receives the samples, our team of highly-specialized
              lab technologists will perform the tests and provide results within 24-48 hours.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="text-center mt-3">
            <button type="submit" class="btn btn-blue m-1" (click)="onSubmit()">Submit</button>                              
        </div>
    </div>
</div>