.float-right {
    float: right;
  }
  
.fixed-width-container {
    width: 1000px; /* Set your desired width */
  }
  .hide-on-screen {
    position: absolute !important;
    left: -9999px !important;
    top: -9999px !important;
  }  

 
