<div class="login-bg">
    <div class="main-wrapper">
        <!-- Login Header -->
        <div class="login-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">                	
                        <div class="text-center"><img src="../../../assets/images/login-logo.png" alt="Logo" class="img-fluid" /></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Login Box -->
        <div class="login-box my-2" *ngIf="hasError == ''">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <!-- Login Phone Section -->
                        <div class="loginphone">  
                            <div class="row gx-0 align-items-center">
                                <div class="col-md-5">
                                    <div class="text-center logo">
                                        <img src="../../../assets/images/access-medical-labs-logo.svg" alt="access-medical-labs-logo" class="img-fluid" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="text-center">
                                        <img src="../../../assets/images/pattern.svg" alt="pattern" class="img-fluid m-2" />
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="font21 font-w900 text-blue">
                                        <img src="../../../assets/images/phone-icon.svg" alt="phone-icon" class="img-fluid me-2" />
                                        (866) 720-8386
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- White Background Form Section -->
                        <div class="white-bg borderradius5 p-3 mt-2 boxshadow82 formdiv">
                            <form [formGroup]="forgotPassfrm" appFocus appFocusFirstInput>
                                <div class="text-center open-sans mb-2">
                                    <div class="mb-2"><img src="../../../assets/images/icons/three-user-icon.svg" /></div>
                                    <div class="font26 font-w900 text-blue my-1">Net<span class="font-w400">Central</span>Set New Password</div>
                                    <div class="font15 font-w600">Access Medical Laboratories</div>
                                </div>

                                <!-- Password Input -->
                                <div class="mb-2 position-relative">
                                    <label class="form-label">Password</label>
                                    <input [type]="visible=='fa fa-eye'?'password':'text'" class="form-control" placeholder="Enter New Password" formControlName="password" [ngClass]="{'is-invalid': isSubmitted && f.password.errors}">
                                    <span class="field-icon" (click)="changeicon()">
                                        <i [class]="visible"></i>
                                    </span>
                                    <!-- <img src="../../../assets/images/icons/lock-gray.svg" class="lockicon" /> -->
                                    <div *ngIf="isSubmitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">Please enter Password</div>
                                        <div *ngIf="f.password.errors.pattern">Password should be between 8 to 10 characters with a combination of Numeric, Upper case, Lower case, and Special characters.</div>
                                    </div>
                                </div>

                                <!-- Confirm Password Input -->
                                <div class="mb-2 position-relative">
                                    <label class="form-label">Confirm Password</label>
                                    <input [type]="visible1=='fa fa-eye'?'password':'text'" class="form-control" placeholder="Enter Confirm  Password" formControlName="cnfirmPass" [ngClass]="{'is-invalid': isSubmitted && f.cnfirmPass.errors}">
                                    <span class="field-icon" (click)="changeicon1()">
                                        <i [class]="visible1"></i>
                                    </span>
                                    <!-- <img src="../../../assets/images/icons/lock-gray.svg" class="lockicon" /> -->
                                    <div *ngIf="isSubmitted && f.cnfirmPass.errors" class="invalid-feedback">
                                        <div *ngIf="f.cnfirmPass.errors.required">Please enter Confirm Password</div>
                                        <div *ngIf="f.cnfirmPass.errors.pattern">Password should be between 8 to 10 characters with a combination of Numeric, Upper case, Lower case, and Special characters.</div>
                                        <div *ngIf="f.cnfirmPass.errors.mismatch">Password is Mismatch</div>
                                    </div>
                                </div>

                                <!-- Submit Button -->
                                <button type="submit" class="btn btn-blue d-block text-capitalize w-100" (click)="onSubmit()">Set New Password</button>
                            </form>
                        </div>  
                    </div>
                </div>
            </div>
        </div>

        <!-- Error Message Box -->
        <div class="login-box my-2" *ngIf="hasError != ''">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="white-bg borderradius5 p-3 mt-2 boxshadow82 formdiv">
                            <div class="text-center open-sans mb-2">
                                <div class="mb-2"><img src="../../../assets/images/icons/three-user-icon.svg" /></div>
                                <!-- <div class="font26 font-w900 text-blue my-1">Net<span class="font-w400">Central</span>Set New Password</div> -->
                                <div class="font18 font-w600 text-blue">{{hasError}}</div>
                                <div class="text-end"><a routerLink="/login" class="font-w700">Back to Login</a></div>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
