.dept-heading{
    border: 1px dotted;
    padding: 15px;
  }

  .tr-narrow td {
    padding: 2px !important; /* Adjust the padding value as needed */
  }
  .badge {
    font-size: 14px; /* Adjust the font size as needed */
  }