  <div class="font15 font-w600 text-blue mt-2 mb-3" *ngIf="permission.MenuPermission.Add == true">
    <div class="row mb-3">
        <div class="col-lg-6 text-blue font-w700 font18"><span class="dept-heading">Practice Name : &nbsp;  {{practiceName}}</span></div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 mb-2 d-flex">
        <div class="input-with-icon">
          <input type="text" class="form-control" placeholder="Search here...." [(ngModel)]="requestpayload.CustomSearch" (change)="getUserList()">
            <div class="btn btn-default icon" (click)="getUserList()"><i class="fa fa-search"></i></div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-lg-end align-items-center flex-wrap">
        <div class="d-flex align-items-center me-3">
          <table class="table mb-2" border="1" style="width: auto;">
            <tr class="tr-narrow">
              <td class="text-center"><span class="font-w600 text-blue">Active</span></td>
              <td>
                <img src="../../../assets/images/on.svg" height="40px">
              </td>
              <td class="text-center"><span class="font-w600 text-blue">Inactive</span></td>
              <td>
                <img src="../../../assets/images/off.svg" height="40px">
              </td>
            </tr>
          </table>
         
        </div>
        <button class="btn btn-blue me-2 mb-2" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#deleteUser" *ngIf="deleteids.length">Delete</button>
        <span class="addedproicon mb-2" style="cursor: pointer;" (click)="editUser()">
          <img src="../../../assets/images/icons/add-icon-white.svg" class="me-2"/>Add User
        </span>
      </div>
    </div>
  </div>


  <div class="tablediv" *ngIf="permission.MenuPermission.View == true">
    <div class="table-responsive">
        <kendo-grid
      [data]="userlist"
      [pageSize]="state.take"
      [skip]="state.skip"
      [sortable]="true"
      [sort]="state.sort"
      filterable="menu"
      [filter]="state.filter"
      [pageable]="{buttonCount:5,pageSizes:[10,20,50,100,500]}"
      (dataStateChange)="dataStateChange($event)"
    >
    <kendo-grid-checkbox-column [headerStyle]="{'text-align': 'center','width' : '8%'}" [style]="{'text-align': 'center','width' : '8%'}" headerClass="justify-content-center"
          [headerStyle]="{'vertical-align':'middle','text-align' : 'center'}" [style]="{ 'text-align': 'center', 'vertical-align':'middle' }" *ngIf="permission.MenuPermission.Delete == true && userlist?.data.length !== 0 && userlist?.data.length !== 1">
          <ng-template kendoGridHeaderTemplate>
            <input kendogridselectallcheckbox class="k-checkbox k-checkbox-md k-rounded-md" type="checkbox"
              [style]="{'vertical-align':'middle'}" (change)="onSelectAllChange($event)" [checked]="isAllSelected()" />
          </ng-template>
          <ng-template kendoGridCellTemplate let-dataItem>
            <input kendogridselectallcheckbox class="k-checkbox k-checkbox-md k-rounded-md" *ngIf="!dataItem.IsPrimary;"
              [style]="{'vertical-align':'middle'}" type="checkbox" [(ngModel)]="dataItem.isSelected"
              (change)="onCheckboxChange(dataItem)" />
          </ng-template>
        </kendo-grid-checkbox-column>
    <kendo-grid-column field="Name" title="Name" [headerStyle]="{'text-align': 'center','width' : '20%'}" [style]="{'text-align': 'center','width' : '20%'}">
      <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
        <kendo-grid-string-filter-menu
            [column]="column"
            [filter]="filter"
            [filterService]="filterService"
            operator="contains">
                <kendo-filter-eq-operator></kendo-filter-eq-operator>
                <kendo-filter-neq-operator></kendo-filter-neq-operator>
                <kendo-filter-contains-operator></kendo-filter-contains-operator>
                <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
        </kendo-grid-string-filter-menu>
    </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="UserName" title="User Name" [headerStyle]="{'text-align': 'center','width' : '20%'}" [style]="{'text-align': 'center','width' : '20%'}">
      <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
        <kendo-grid-string-filter-menu
            [column]="column"
            [filter]="filter"
            [filterService]="filterService"
            operator="contains">
                <kendo-filter-eq-operator></kendo-filter-eq-operator>
                <kendo-filter-neq-operator></kendo-filter-neq-operator>
                <kendo-filter-contains-operator></kendo-filter-contains-operator>
                <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
        </kendo-grid-string-filter-menu>
    </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="Email" title="Email" [headerStyle]="{'text-align': 'center','width' : '22%'}" [style]="{'text-align': 'center','width' : '22%'}">
      <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
        <kendo-grid-string-filter-menu
            [column]="column"
            [filter]="filter"
            [filterService]="filterService"
            operator="contains">
                <kendo-filter-eq-operator></kendo-filter-eq-operator>
                <kendo-filter-neq-operator></kendo-filter-neq-operator>
                <kendo-filter-contains-operator></kendo-filter-contains-operator>
                <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
        </kendo-grid-string-filter-menu>
    </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="Status" title="status"  [headerStyle]="{'text-align': 'center','width' : '10%'}" [style]="{'text-align': 'center','width' : '10%'}" [sortable]="true"  filter="boolean">
        <ng-template kendoGridCellTemplate let-dataItem class="text-center">
            <div class="form-check form-switch text-center toggle-switch" *ngIf="permission.MenuPermission.Edit == true && dataItem.IsPrimary !== true" kendoTooltip>
              <input class="form-check-input text-center" type="checkbox" role="switch"  [(ngModel)]="dataItem.Status" (click)="changeStatus(dataItem.Id,dataItem.Status)" [attr.title]="dataItem.Status ? 'Active' : 'Inactive'">
            </div>
            <div class="form-check form-switch text-center toggle-switch" *ngIf="permission.MenuPermission.Edit == false || dataItem.IsPrimary === true" kendoTooltip>
              <input class="form-check-input text-center" type="checkbox" role="switch"  [(ngModel)]="dataItem.Status" disabled="true" [attr.title]="dataItem.Status ? 'Active' : 'Inactive'">
            </div>
        </ng-template>
        <!-- Customize boolean filter values -->
        <kendo-grid-messages
        filterIsTrue="Active"
        filterIsFalse="Inactive"
        >
      </kendo-grid-messages>
    </kendo-grid-column>
    <kendo-grid-column  title="Edit" [width]="50" [headerStyle]="{'text-align': 'center','width' : '10%'}" [style]="{'text-align': 'center','width' : '10%'}" *ngIf="permission.MenuPermission.Edit == true">
        <ng-template kendoGridCellTemplate let-dataItem>
                <div class="link-gray font16" title="Edit" (click)="editUser(dataItem.Id)" style="cursor: pointer;" *ngIf="dataItem.IsPrimary !== true"><i class="fa fa-edit"></i></div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column  title="Delete" [width]="50" [headerStyle]="{'text-align': 'center','width' : '10%'}" [style]="{'text-align': 'center','width' : '10%'}" *ngIf="permission.MenuPermission.Delete == true">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="link-gray font16" title="Delete" (click)="deleteModel(dataItem.Id)" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#deleteUser" *ngIf="dataItem.IsPrimary !== true"><i class="fa fa-trash-alt"></i></div>
        </ng-template>
    </kendo-grid-column>
    </kendo-grid>
    </div>
  </div>

     <!-- Modal -->
     <div class="modal deletepopup fade"  id="deleteUser" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header justify-content-end">
              <!-- <h5 class="modal-title" id="exampleModalCenterTitle">Add Collection</h5> -->
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modelDeleteClose()"></button>
            </div>
            <div class="modal-body only-title text-center">
              <h5>Are you sure want to delete?</h5>
            </div>
            <div class="modal-footer justify-content-center">
              <button type="button" class="btn btn-primary m-1" (click)="deleteUser()">Yes</button>
              <button type="button" class="btn btn-secondary m-1" (click)="modelDeleteClose()">No</button>
            </div>
          </div>
        </div>
      </div>


<!-- Add Card Modal start -->
<div class="ourpopup">
    <app-add-edit-clientuser [ClientId]="requestpayload.ClientId" [EditUserId]="editUserid" (dataToParentEvent)="receiveDataFromChild($event)" #childComponent></app-add-edit-clientuser>        
</div>
<!-- Add Card Modal end -->