.dollar-input {
    height: 38px !important;
  }
  
  .form-group-dollar::before {
    left: 18px !important;
    top: 42px !important;
  }
  
  
//   .ng-invalid .form-group-dollar::before {
//     left: 18px !important;
//     top: 39% !important;
//   }